@font-face {
    font-family: 'NotoSansCJKkr';
    font-weight: 100;
    src: url('../fonts/NotoSansCJKkr-Thin.woff') format('woff')
}

@font-face {
    font-family: 'NotoSansCJKkr';
    font-weight: 300;
    src: url('../fonts/NotoSansCJKkr-Light.woff') format('woff')
}
@font-face {
    font-family: 'NotoSansCJKkr';
    font-weight: 350;
    src: url('../fonts/NotoSansCJKkr-DemiLight.woff') format('woff')
}
@font-face {
    font-family: 'NotoSansCJKkr';
    font-weight: 400;
    src: url('../fonts/NotoSansCJKkr-Regular.woff') format('woff')
}
@font-face {
    font-family: 'NotoSansCJKkr';
    font-weight: 500;
    src: url('../fonts/NotoSansCJKkr-Medium.woff') format('woff')
}
@font-face {
    font-family: 'NotoSansCJKkr';
    font-weight: 700;
    src: url('../fonts/NotoSansCJKkr-Bold.woff') format('woff')
}
@font-face {
    font-family: 'NotoSansCJKkr';
    font-weight: 900;
    src: url('../fonts/NotoSansCJKkr-Black.woff') format('woff');
}

:root{
    --w-g : repeat(16,1fr);
    --m-g : repeat(8,1fr);
}

html { font-size: 62.5%; }
body {width:100%;overflow-x:hidden;background-color : #fff ; color : #000 ;}
a { text-decoration : none ; color : #000 }
body,button,input {font-family: /* 'campton', */'Noto Sans KR', sans-serif }
main{padding-top: 80px;}
@media (min-width: 1024px){
    header{
        min-width: 320px;
        margin: 0 auto;
        
    }
    nav {
        max-width: 1920px;
        margin: 0 auto;
    }
    main{
        max-width: 1920px;
        min-width: 320px;
        margin: 0 auto;
        overflow: hidden;
    }
    footer{
        margin:0 auto;
    }
    .for__you__box{
        flex-shrink: 0;
        padding: 20px 60px;
    }
}
