

/* footer */
footer {
    background-color: #191919;
    
}

.footer-mobile .about{
    font-family: FuturaLTPro;
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
}
.footer-mobile .last{
    font-family: FuturaLTPro;
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
}

.footer-mobile {
    display: none;
}


/* 웹 */
.footer-web {
    display: block;
    padding: 10px;
}
.f__desk {
    color: #fff;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 10px;
    /* max-width: 1920px; */
    margin: 0 auto;
}
.f__desk__last{
    color: #fff;
    display: grid;
    gap: 10px;
    /* max-width: 1920px; */
    font-size: 13px;
    margin: 0 auto;
    font-weight: 300;
    font-family: NotoSansCJKkr;
    padding-bottom: 15px;
}

.f__title {
    padding-top: 10px;
    font-family: NotoSansKR;
    font-size: 1.2rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}
.f_content {
    padding-top: 10px;
    font-family: NotoSansKR;
    font-size: 1rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.1;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}
.f_content .service{
    font-family: var(--ft-fu);
}
.f_content .social{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.f_content .social .svg-wrap{
    display: flex;
    gap: 20px;
}
.f_content .info{
    font-family: var(--ft-fu);
}

@media (max-width: 1024px){
    .footer-web {
        display: none;
    }

    .footer-mobile {
        display: block;
        font-family: FuturaLTPro;
        font-size: 13px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        
    }
 

    .footer-mobile .last {
        color: var(--wh);
        opacity: 0.5;
    }
    .footer-mobile .drop-title{
        font-family: FuturaLTPro;
        font-size: 1.3rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
    }
    .drop__menu.show{
        color: var(--wh);
        opacity: 1;
    }
    .drop__menu.show .drop__down__wrap{
        border: 1px solid #dcdcdc26;
    }
    .drop__menu{
        color: var(--wh);
        opacity: 0.5;
    }
    .footer-mobile .drop__down__wrap {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 16px 26px 18px 10px;
        border-bottom: 1px solid #dcdcdc4d;
    }
    .footer-mobile .drop__down__content .about{
        font-family: NotoSansCJKkr;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.1;
    }
    .footer-mobile .drop__down__content .disclaimer{
        align-items: center;
        display: flex;
        padding: 15px 0;
        border-bottom:1px solid #464646;
        font-family: NotoSansCJKkr;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
    }
    .footer-mobile .social {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 15px 0;
    }
    .footer-mobile .social .svg-wrap {
        display: flex;
        gap: 36px;
    }
    
    
    .footer-mobile .drop__down__content .service{
        font-family: FuturaLTPro;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        line-height: 2.1;
    }
    .footer-mobile .drop__down__content .info{
        font-family: NotoSansCJKkr;
        font-size: 10px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.1;
    }
    .footer-mobile .drop__down__content ul > li:last-child{
        border-bottom:0px;
    }
    .drop__down__content.show{
        display: block;
        opacity: 1;
    }
    .drop__down__content{
        display: none;
        font-family: NotoSansCJKkr;
        font-size: 1.0rem;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        padding: 5px 10px 40px 10px;
    }
    
    .footer__content{
        font-family: NotoSansCJKkr;
        font-size: 1.2rem;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
    }
    
}