header {
    z-index: 20;
    position: fixed;
    width: 100%;
    top: 0;
    max-width: 2560px;
    margin: 0 auto;
}
header .logo {
    content: url("/images/svg/logo-bk.svg");
}
header .search-svg {
    content: url("/images/svg/search-bk.svg");
}
header .earth-svg {
    content: url("/images/svg/earth-bk.svg");
}
header .wishlist-svg {
    content: url("/images/svg/wishlist-bk-line.svg");
}
header .basket-svg {
    content: url("/images/svg/basket-bk.svg");
}
header .bluemark-svg {
    content: url("/images/svg/bluemark-bk.svg");
}
header .user-svg {
    content: url("/images/svg/user-bk.svg");
}

nav li{
list-style-type: none;
}

#web{
    border-top: solid 1px #dcdcdc;
}
#mobile{
	position: relative;
}
#mobile span, img {
    cursor: pointer;
}
#mobile .mobile__menu {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
#mobile .side__menu{
    position: absolute;
    overflow: auto;
    top: 0px;
    /* 노티스 닫으면 top-30px해야함 */
    width:100%;
    left:-100%;
    height: 100vh;
    background: #Fff;
    padding:70px 0 0 0;
    z-index: 10;
    transform:translate(0,0);
    transition:transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
#mobile.menu__on .side__menu{
    transform:translate(100%,0);
}

#mobile .top{
    grid-column: 2 / 9;
    display: flex;
    gap: 24px;
    flex-direction: column;
    padding-bottom: 48px;
}
#mobile .mid{
    grid-column: 2 / 9;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 30px;
}
#mobile .top .lrg .lrg__title {
    font-family: var(--ft-no);
    font-size: 1.8rem;
    font-weight: 500;
    text-align: left;
    color: #343434;
}
#mobile .top .lrg .lrg__title.open {
    text-decoration: underline;
}
#mobile .top .lrg .lrg__title.open::before {
    content: url('/images/svg/mobile-arrow.svg');
    position: absolute;
    margin-left: -30px;
}
#mobile .mid li span, #mobile .bottom li {
    font-family: var(--ft-no);
    font-size: 1.8rem;
    font-weight: normal;
    text-align: left;
    color: #343434;
}
#mobile .bottom{
    grid-column: 2 / 9;
    display: flex;
    gap: 16px;
    flex-direction: column;
    font-family: var(--ft-no);
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
}
#mobile .bottom > li {
    width: 180px;
}
#hamburger.is-active .line:nth-child(2) {
    opacity: 0;
}

#hamburger.is-active .line:nth-child(1) {
-webkit-transform: translateY(6px) rotate(45deg);
-ms-transform: translateY(6px) rotate(45deg);
-o-transform: translateY(6px) rotate(45deg);
transform: translateY(6px) rotate(45deg);
}

#hamburger.is-active .line:nth-child(3) {
-webkit-transform: translateY(-6px) rotate(-45deg);
-ms-transform: translateY(-6px) rotate(-45deg);
-o-transform: translateY(-6px) rotate(-45deg);
transform: translateY(-6px) rotate(-45deg);
}

.top .lrg .mdlBox{
    display: none;
}

.top .lrg .mdl{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 12px;
    padding: 30px 0 15px 0;
}
.top .lrg .mdl .mdl__title{
    grid-column: 2 / 9;
    font-family: var(--ft-no);
    font-size: 1.3rem;
    font-weight: 500;
    text-align: left;
    color: #343434;
}
/* notice */
.notice__marquee{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}x`
.notice__wrap{
    font-family: var(--ft-no), sans-serif;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding: 0 10px;
    height: 30px;
    border-bottom-width: 1px;
    width: 100%;
    margin: 0 auto;
}
.notice__wrap .notice__title{
    font-size: 11px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #000;
}
.notice__wrap .notice__a{
    font-size: 11px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
}
/* 햄버거 */
.hamburger .line {
    width: 20px;
    height: 1px;
    background-color: #000;
    display: block;
    margin: 5px 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.hamburger:hover {
    cursor: pointer;
}
/* 검색화면 */
.mobile__search {
    display: none;
}
.mobile__search .seach__input{
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #dcdcdc;
    padding: 5px;
    margin-bottom: 27px;
}
.mobile__search .seach__input input:focus {
    outline: none;
}
.mobile__search .seach__input input::placeholder {
    color: #dcdcdc;
}
.mobile__search .recommend__search ul >li {
    padding: 10px 0;
}
.mobile__search .recommend__search .recommend__search__title{
    font-family: var(--ft-fu);
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
}
.mobile__search .recommend__search .search__result{
    font-family: var(--ft-no);
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
}
.mobile__search .recommend__prd{
    padding-top: 40px;
}
.mobile__search .prd__content{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
} 

.mobile__search .prd__card{
    width: 100%;
    width: 80px;
}
.mobile__search .prd__img__wrap{
    background-color: #fbfbfb;

}
.mobile__search .prd__img{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    margin: 10px;

}
.mobile__search .prd__title{
    text-align: center;
    font-family: var(--ft-fu);
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
    margin-bottom: 24px;
}
    
.mobile__search .prd__img__title{
    text-align: center;
    font-family: var(--ft-fu);
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #343434;
}
.header__wrap{
    padding: 22px 0 8px 0;
    color: var(--bk);
    background-color: var(--wh);
}
.header__wrap .en{
    font-family: var(--ft-fu)!important;
}
.header__wrap .kr{
    font-family: var(--ft-no)!important;
}
.header__grid{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    margin: 0 auto;
}
.header__grid li {
    font-family: var(--ft-no);
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}
.header__grid .web {
    cursor: pointer;
    display: block;
    
}
.header__grid .drop .drop__menu{
	margin-top: 7px;
    display: none;
}
.header__grid .drop:hover .drop__menu{
    display: block;
}
.header__grid .drop:hover {
}

.header__grid .drop a {
	width:fit-content;
	font-size:12px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
}

.header__grid .fixmenu a{
    font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
}
.header__grid .cont{
    position: absolute;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    padding: 58px 0 61px 0;
    background-color: #fff;
	border-top: solid 1px #dcdcdc;
	z-index:100
}
.header__grid .cont .swiper-li .swiper__box{
    width: 150px;
	margin-left: 0;
	padding-bottom: 25px;
}
.header__grid .cont .swiper-li .swiper__box .swiper-slide .swiper-pagination{
	bottom: 15px;
}

.header__grid .swiper-pagination-bullet {
	margin: 0 3px 0 3px!important;
	width: 11px;
    height: 1px;
    display: inline-block;
    background: #343434;
	opacity : 0.25;
}
.header__grid .swiper-pagination-bullet-active{
	opacity: var(--swiper-pagination-bullet-opacity, 1);
}
.header__grid .swiper-pagination-bullet-active-prev{
	transform: scale(1);
}
.header__grid .swiper-pagination-bullet-active-next{
	transform: scale(1);
}
.header__grid .swiper-pagination-bullet-active-prev-prev{
	opacity: 0;
}
.header__grid .swiper-pagination-bullet-active-next-next{
	opacity: 0;
}

.header__grid .cont .swiper-li .swiper__box .swiper-slide div{
    text-align: center;
}
.header__grid .cont .swiper-li .swiper__title{
    opacity: 0.7;
    line-height:40px;
    font-family: var(--ft-fu);
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.3px;
    color: #343434;;
}
.header__grid li[data-lrg="4"]{
	margin-left: auto;
}
.header__grid .cont .swiper-li{
    grid-column: 2 / 4;
}
.header__grid .cont li[data-mdl="0"]{
    grid-column: 4 / 6;
}
.header__grid .cont li[data-mdl="1"]{
    grid-column: 6 / 8;
}
.header__grid .cont li[data-mdl="2"]{
    grid-column: 8 / 10;
}
.header__grid .cont li[data-mdl="3"]{
    grid-column: 10 / 12;
}
.header__grid .cont li[data-mdl="4"]{
    grid-column: 12 / 14;
}
.header__grid .cont li[data-mdl="5"]{
    grid-column: 14 / 16;
}
.menu-swiper-pagination{
    width: 100%;
    height: 4px;
    left: 0;
    top: 150px;
}
.menu-swiper-pagination-progressbar .menu-swiper-pagination-progressbar-fill {
    background: var(--swiper-pagination-color,var(--swiper-theme-color));
    position: absolute;
    left: 0;
    top: 0;
    width: 90%;
    height: 100%;
    transform: scale(0);
    transform-origin: left top;
}

.header__grid .cont li a{
    font-family: var(--ft-no-fu);
    font-size: 13px;
    font-weight: 500;
    color: #343434!important;
}
.header__grid .cont li .sma__wrap {
    padding-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    opacity: 0.7;
    font-family: var(--ft-no-fu);
    font-size: 12px;
    font-weight: normal;
    color: #343434;
}

.header__grid .cont .sma__wrap li a{
    font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
}

.header__grid .mid__space.--hidden{
	display: none!important;
}

.header__grid .cont .pobox {
    text-align: left;
}
.header__grid .cont .pobox img{
    width: 110px;
    height: 110px;
    margin-top: 50px;
}
.header__grid .cont .pobox .colaboBox{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.header__grid .cont .pobox .colaboBox .mid-a{
	font-size: 13px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.33px;
}

.header__grid .cont .pobox.all-view {
	margin:auto;
	text-align:center;
}
.header__grid .cont .pobox.all-view a{
	font-size:12px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align:center;
	margin: auto;
}

.header__grid .cont.fixsub{
    grid-template-columns: 1fr 6fr 3fr 6fr;
}
.header__grid .cont.fixsub .list__grid{
	display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.header__grid .cont .fmbox {
    text-align: left;
}
.header__grid .cont .fmbox img{
    width: 110px;
    height: 110px;
    margin-top: 27px;
}
.header__grid .cont .fmbox .newsBox{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.header__grid .cont .fmbox .newsBox .news-title{
	margin: 6px 6px 6px 0;
	font-size: 11px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.45;
	letter-spacing: 0.17px;
	text-align: left;
	color: #343434;
}
.header__grid .cont .fmbox .newsBox .news-m-title{
	margin: 0 6px 6px 0;
	font-size: 13px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: 0.33px;
	text-align: left;
	color: #343434;
	line-height: 1.31;
}
.header__grid .cont .fmbox .archiveBox{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.header__grid .cont .fmbox .archiveTitle{
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 3.33;
	letter-spacing: normal;
	text-align: left;
	color: #343434;
	margin: 17px 0 6px 0;
}
.header__grid .cont .fmbox .archiveList{
	font-size: 11px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.45;
	letter-spacing: 0.28px;
	text-align: left;
	color: #343434;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	word-break: break-all;
}

.header__grid .cont .fmbox .archiveList.dot{
    font-family: var(--ft-fu);
	padding-left:5px;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.15;
}
.header__grid .cont .fmbox .archiveList.dot:before{
    content: ".\A.\A.";
	white-space:pre;
}

.header__grid .search__drop .cont {
	grid-template-columns: 4fr 2fr 1fr 5fr 4fr;
}

.header__grid .search__drop .cont .searchbox {
    text-align: left;
}

.header__grid .search__drop .cont .searchbox .searchTitle{
	font-size: 13px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	text-align: left;
	color: #000;
}
.header__grid .search__drop .cont .searchbox .keywordBox{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: flex-start;
	margin-top:24px;
}
.header__grid .search__drop .cont .searchbox .keywordList{
	opacity: 0.7;
    font-family: var(--ft-no-fu);
	font-size: 13px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.69;
	letter-spacing: normal;
	text-align: left;
	color: #343434;
}

.header__grid .search__drop .cont .searchbox .prodBox{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.header__grid .search__drop .cont .searchbox .prodBox .prod-title{
	font-size: 11px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.55;
	letter-spacing: 0.28px;
	text-align: center;
	color: #343434;
	width: 100%;
}
.header__grid .search__drop .cont .searchbox .prodlist__grid{
	display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.header__logo{
    grid-column: 2/4;
    display: flex;
    min-width: 130px;
}
.header__logo img  {
    height: 18px;
}
.right__nav{
    grid-column: 14/17;
	height:20px;
}

.right__nav .right__nav__ul{
	display: grid;
	grid-template-columns: 1fr 2fr repeat(5, 1fr);
    align-items: center;
}

.right__nav.search__style{
	grid-column:5/17;
}

.right__nav.search__style .right__nav__ul{
	grid-template-columns:7fr 1fr 3fr 1fr;
}

.right__nav .right__nav__ul li {
    cursor: pointer;
    align-items: center;
} 
.right__nav .right__nav__ul li.search__li{
}
 
.right__nav .right__nav__ul li.search__li .search__motion__wrap{
	position:absolute;
	top:22px;
	height: 18px;
	left:calc(100% / 16 * 13);
}
.right__nav .right__nav__ul li.search__li .search__motion__wrap.search-init{
	left:calc(100% / 16 * 4);
	width:calc(100% / 16 * 7);
}
.right__nav .right__nav__ul li.alg__r {
    margin-left: auto;
}
.right__nav .right__nav__ul li.alg__c {
    margin: auto;
}
.right__nav .right__nav__ul li.search__close{
	display:none;
	text-align:right;
	margin-left: auto;
}
.right__nav .right__nav__ul li .search__input{
	display:none;
}
.right__nav .right__nav__ul li .search__input.search_w{
	width:100%;
	border:0px none;
	font-size: 12px;
	padding-left:10px;
}
.right__nav .right__nav__ul li .search__input.search_w:focus {
    outline:none;
}
.right__nav .right__nav__ul li.login__wrap.-search-on{
	grid-column: 4/5;
	margin-left:auto;
	margin-right:auto;
}
.right__nav .search__drop{
	display:none;
	margin-top: 7px;
}
.right__nav .right__nav__ul li .count {
    font-family: var(--ft-fu);
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    padding-left: 4px;
    color: #343434;
}


header .menu-ul {
    display:block;
    text-decoration: none;
    padding-bottom:0px;
    position: relative;
}
header.hover .menu-ul::after {
    content: '';
    width: 0;
    height: 1px;
    position: absolute;
	right:0;
    bottom: 0;
    background-color: #343434;
	transition:width 0.3s cubic-bezier(0.25,0.1,0.25,1) 0s
}

.header__grid .drop:hover .menu-ul.lrg::after{
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: #343434;
	right:0;
}

header .menu-ul::after {
    content: '';
    width: 0;
    height: 1px;
    position: absolute;
	right:0;
	bottom:0;
    background-color: #ffffff;
	transition:width 0.3s cubic-bezier(0.25,0.1,0.25,1) 0s
}

header .menu-ul.sml::after {
    opacity: 0.7;
}

header .menu-ul:hover::after{
	left:0;
	right:auto;
	width:100%
}
@media (max-width: 1440px){
    .header__grid,.header__grid .cont{
		display: grid;
		grid-template-columns: repeat(14, 1fr);
	}
	.header__grid li[data-lrg="4"]{
		margin-left: auto;
		margin-right: auto;
		grid-column: 8/10;
	}
	.header__grid .cont.fixsub{
		grid-template-columns: 1fr 6fr 1fr 6fr;
	}
    .header__grid > .mid__space{
		display: none!important;
	}
	.right__nav{
		grid-column: 12/15;
	}
	.right__nav.search__style{
		grid-column:5/15;
	}

	.right__nav.search__style .right__nav__ul{
		grid-template-columns:7fr 1fr 1fr 1fr;
	}
	.right__nav .right__nav__ul li.search__li .search__motion__wrap{
		left:calc(100% / 14 * 11);
	}
	.right__nav .right__nav__ul li.search__li .search__motion__wrap.search-init{
		left:calc(100% / 14 * 4);
	}	
	.header__grid .search__drop .cont {
		grid-template-columns: 4fr 2fr 1fr 5fr 2fr;
	}
}
@media (max-width: 1024px){
    header {
        border:none;
    }
	.header__wrap{
		padding: 2px 0 10px 0;
	}
    .header__logo{
        grid-column: 1/3;
        display: flex;
        justify-content: center;
        margin-left: 10px;
    
    }
    .header__logo img{
        height:13px;
    
    }
    .header__grid{
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(8, 1fr);
        gap: 10px;
        align-items: center;
    }
    .header__grid .space{
		display: none;
	}
    .right__nav{
        min-width: 135px;
        grid-column: 6/9!important;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
	.right__nav .right__nav__ul{
		grid-template-columns: repeat(3, 1fr)!important;;
		width: 100%;
	}
    #mobile .swiper-li {
        grid-column: 1 / 8;
    }
    #mobile .swiper-li .slide-box{
        display: flex;
        gap: 27px;
        align-items: center;
        font-family: var(--ft-fu);
        font-size: 1.2rem;
        color: #343434;
    }
    #mobile .swiper-li .slide-box img {
        width: 110px;
        height: 110px;
    }
    .header__grid .web {
        display: none;
    }
	.right__nav .search__drop,.right__nav .search__close{
		display:none!important;
	}
	.basket__btn, .wishlist__btn{
		display:flex!important;
	}
}
