
#sidebar {
    visibility:hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 19;
    position: fixed;
}
#sidebar.open{
    visibility:visible;
}
#sidebar .side__background{
    background: rgba(0, 0, 0, 0);
    transition-duration: 1s
}
#sidebar .side__background.open{
    display: grid;
    grid-template-columns: var(--w-g);
    background: rgba(0, 0, 0, 0.8);
    transition-duration: 1s
}
#sidebar .side__wrap{
    background-color: white;
    height: 100vh;
    gap: 10px;
    transform: translateX(100%);
    grid-column: 13/17;
}
#sidebar .side__wrap.open{
    transform: translateX(0%);
    transition-duration: 1s;
    overflow-y: auto;
}
.side__box {
    container-type: inline-size;
}
@container (max-width: 1000px) {
    .basket__wrap{
        display: flex!important;
        flex-direction: column!important;
        margin-bottom: 0px!important;
    }
    .list__box {
        width: 100%!important;
        padding: 0 10px!important;
    }
    .list__header{
        top: 42px!important;
        height: 80px!important;
        padding-top: 10px!important;
    }
    .pay__box{
        height: auto!important;
        padding: 20px 10px 0 10px!important;
        bottom: 0!important;
        background-color: #ffffff!important;
    }
    .pay__row{
        padding-bottom: 10px!important;
    }
    .pay__row:nth-child(2) {
        margin-bottom: 10px!important;
    }
}

@media (max-width: 1024px){
	#sidebar .side__background.open {
		grid-template-columns: var(--m-g);
	}
	#sidebar .side__wrap{
		grid-column: 2/9;	
	}
}