/* recommand */
.recommand-wrap {
    padding-bottom: 170px;
}
/* module */
/* module */
.foryou-wrap{
    margin-bottom: 240px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}
.foryou-wrap .left__title{
    padding: 10px 0px 0 10px;
    grid-column: 1/2;
    border: 1px solid #dcdcdc;
}
.foryou-wrap .left__title span{
    text-decoration: underline;
}
.foryou-wrap .swiper-grid{
    grid-column: 2/17;
}
.foryou-wrap .foryou-swiper .product{
    width: 100%;
}
.foryou-wrap .foryou-swiper .product .product-info .info-row .size__box{
    padding-bottom:0px;
}
.foryou-wrap .swiper-slide {
    border-top: solid 1px #dcdcdc;
    border-bottom: solid 1px #dcdcdc;
    border-right: solid 1px #dcdcdc;
}
.foryou-wrap .swiper-slide:not(:last-child) {
    border-bottom: solid 1px #dcdcdc;
}
.foryou-wrap .wish__btn img{
    width: 14px;
    height: 12px;
}
@media (max-width: 1025px) {
    .foryou-wrap {
        display: flex;
        flex-direction: column;
        margin-bottom: 75px;
    }
.foryou-wrap .left__title{
        padding:10px 20px ;
        border: 0;
    }
.foryou-wrap .left__title span{
        text-decoration: none;
        font-size: 13px;
    }
.foryou-wrap .foryou-swiper .product .product-info{
        border-top: 1px solid #dcdcdc;
        position: relative;
        padding: 5px 10px;
        box-sizing: border-box;
    }
.foryou-wrap .foryou-swiper .product .product-info .info-row .size__box{
        display: none;
    }
.foryou-wrap .foryou-swiper .product .product-info .color__box{
        position: absolute;
        bottom: 0px;
        right: 0px;
        margin: 0px!important;
    }
.foryou-wrap .foryou-swiper .product .product-info .color-title{
        line-height: 0.5;
        color: #343434;
    }
.foryou-wrap .foryou-swiper .product .product-info > .info-row:nth-of-type(1){
        margin-bottom: 13px;
    }
.foryou-wrap .foryou-swiper .product .product-info > .info-row:nth-of-type(3){
        position: relative;
    }
    .foryou-wrap .swiper-slide:not(:last-child) {
        border-bottom: solid 1px #dcdcdc;
    }
    .foryou-wrap .swiper-slide {
        border-bottom: solid 1px #dcdcdc;
    }
}