#quickview {
    position: absolute;
    transition-duration: 0.3s;
    z-index: 11;
}

.remove-btn {
    display: flex;
    position: relative;
    right: 0;
    margin: 10px;
    width: 9px;
}

.remove-btn img:nth-of-type(2) {
    position: absolute;
    transform: rotate(90deg);
}

.quickview__box {
    position: fixed;
    bottom: 0;
    right: -80px;
    min-height: 202px;
}

.wish-msg {
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

.quickview__box.on {
    position: absolute;
}

.quickview__btn__wrap {
    /* quickview_contents height에 종속되지 않기 위함  */
    position: absolute;
    right: 0px;
    width: 60px;
    order: 2;
    z-index: 20;
    border: solid 1px #000;
    transform: translateX(60px);
    transition: all 0.5s;
    background-color: #ffffff;
}

.quickview__btn__wrap.open {
    transform: translateX(-80px);

    /*FAQ 클릭시 퀵메뉴영역 아래로 고정*/
    bottom: 0;
}

.quickview__content__wrap {
    background-color: #ffffff;
    transform: translateX(430px);
    transition: all 0.5s;
    order: 1;
    display: none;
    border-bottom: solid 1px #000;
    border-top: solid 1px #000;
    border-left: solid 1px #000;
}

.quickview__content__wrap.open {
    height: 202px;
    min-width: 205px;
    max-width: 430px;
    display: block;
    transform: translateX(-79px);
    overflow-x: hidden;
    position: relative;
}

.swiper-quick-container {
    /* max-width: 400px; */
    min-height: 150px;
    overflow-x: hidden;
    margin-right: 30px;
    margin-left: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title__box--btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quickview__btn__wrap .btn__box {
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 50px;
    border-bottom: solid 1px #000;
    padding: 7px 0 0px 7px;
    justify-content: space-evenly;
}

.quickview__btn__wrap .btn__box:last-child {
    border-bottom: solid 0px #000;
}

.quickview__btn__wrap .btn__box img {
    width: 13px;
    height: 13px;
}

.quickview__btn__wrap .btn__box p {
    visibility: hidden;
    margin: 4px 0 0 1px;
    font-family: FuturaLTPro;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    text-align: left;
    color: #343434;
}

.btn__box[data-quick="recent"].select img {
    content: url("/images/svg/wish-recent-bk.svg");
}

.btn__box[data-quick="real"].select img {
    content: url("/images/svg/wish-real-bk.svg");
}

.btn__box[data-quick="list"].select img {
    content: url("/images/svg/wish-list-bk.svg");
}

.btn__box[data-quick="faq"].select img {
    content: url("/images/svg/wish-faq-bk.svg");
}

.btn__box[data-quick="recent"].select p {
    visibility: visible;
}

.btn__box[data-quick="real"].select p {
    visibility: visible;
}

.btn__box[data-quick="list"].select p {
    visibility: visible;
}

.btn__box[data-quick="faq"].select p {
    visibility: visible;
}

.btn__box[data-quick="recent"]:hover img {
    content: url("/images/svg/wish-recent-bk.svg");
}

.btn__box[data-quick="real"]:hover img {
    content: url("/images/svg/wish-real-bk.svg");
}

.btn__box[data-quick="list"]:hover img {
    content: url("/images/svg/wish-list-bk.svg");
}

.btn__box[data-quick="faq"]:hover img {
    content: url("/images/svg/wish-faq-bk.svg");
}

.btn__box[data-quick="recent"]:hover p {
    visibility: visible;
}

.btn__box[data-quick="real"]:hover p {
    visibility: visible;
}

.btn__box[data-quick="list"]:hover p {
    visibility: visible;
}

.btn__box[data-quick="faq"]:hover p {
    visibility: visible;
}

.quickview__box .title__box {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 7px 10px;
    font-family: NotoSansKR;
    font-size: 1rem;
    color: #343434;
}

.title__box img {
    width: 13px;
    height: 13px;
}

.all-btn {
    cursor: pointer;
}

.all-btn.web {
    color: #000;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.all-btn.mobile {
    color: #000;
    display: none;
    text-decoration: underline;
}

.hidden {
    display: none
}
.quickview-whish-swiper{
    width: 100%;
}
.quickview-whish-swiper .quick-login-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quickview-whish-swiper .quick-login-box{
    display: flex;
    justify-content: center;
    height: 50px;
    flex-direction: column;
    align-items: center;
}
.quickview-whish-swiper .quick-login-msg{
    margin-bottom: 10px;
}
.quickview-whish-swiper .quick-login-btn{
    border: 1px solid #dcdcdc;
    border-radius:2px;
    padding: 5px 10px;
}
/* 스와이프 css */
.quickview-whish-swiper .swiper-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quickview-whish-swiper .swiper-box img {
    background-color: #fbfbfb;
}

.quickview-whish-swiper a {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.quickview-whish-swiper .product-name {
    width: 85%;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    font-family: var(--ft-no-fu);
    text-align: center;
    color: #343434;
    letter-spacing: 0.25px;
    font-size: 10px;

}

.swiper-button-next::after {
    content: url('/images/svg/sort-bottom.svg');
    transform: rotate(270deg);
    left: 5px;
}

.quickview-whish-swiper .swiper-slide {
    width: 80px;
}

.close-swiper {
    max-width: 0;
}

.common-contents-container.hidden {
    display: none
}

.chat-box {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.arrow_box {
    position: relative;
    background: #ffffff;
    border: 1px solid #000;
    max-width: 310px;
    border-radius: 2px;
    padding: 15px 20px;
}

.arrow_box :after,
.arrow_box :before {
    left: 100%;
    top: 50%;
    border: solid;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box :after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #ffffff;
    border-width: 10px;
    margin-top: -10px;
}

.arrow_box :before {
    border-color: rgba(128, 128, 128, 0);
    border-left-color: #000;
    border-width: 11px;
    margin-top: -11px;
}

.common-contents-container p,
.common-contents-container span,
.common-contents-container input {
    font-size: 11px;
}

.contents-btn {
    font-size: 11px;
}

.quickview__content__wrap .faq-btn-wrap.member .btn {
    float: right;
    vertical-align: middle
}

.contents-footer {
    /* display: flex; */
    padding: 10px;
    gap: 10px;
}

.contents-footer .file-upload-btn {
    width: 60px;
    height: 40px;
    border: 1px solid #000
}

#inquiryTextBox {
    height: 40px;
    width: 100%;
    border: 1px solid #000;
    padding: 10px;
    outline: none;
}

.contents-footer .submit_btn {
    width: 95px;
    height: 40px;
    border: 1px solid #000;
    background-color: #191919;
    color: #fff;
}

.parent-move-link {
    float: right;
    text-decoration: underline;
    cursor: pointer
}

.quickview__content__wrap .faq-btn-wrap.admin .contents {
    margin-bottom: 20px
}

.quickview__content__wrap .faq-btn-wrap.admin .question {
    margin-top: 24px;
}

.quickview__content__wrap .faq-btn-wrap.admin .answer {
    margin-top: 16px;
}

.quickview__content__wrap .faq-btn-wrap.member {
    min-height: 46px;
    margin-right: 10px;
    margin-bottom: 22px;
}

.quickview__content__wrap.faq.open .all-btn.mobile {
    display: none;
}

@media (min-width: 1024px) {
    .common-contents-container {
        width: 420px;
    }

    .quickview__content__wrap.open {
        margin-right: 60px;
        border: 1px solid #000;
        overflow: none
    }

    .quickview__content__wrap.faq.open {
        height: 100%;
        min-height: 202px;
        max-height: calc(100vh - 52px);
        display: flex;
        flex-direction: column;
        width: 420px;
    }

    .quickview__content__wrap.faq.open .common-contents-container {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .quickview__content__wrap .faq-btn-wrap.admin {
        width: 310px;
        margin-left: 27px;
        background-color: #f8f8f8;
        margin-bottom: 22px;
        padding: 20px
    }

    .quickview__content__wrap .faq-btn-wrap.admin .contents-btn {
        width: 270px;
        height: 30px;
        border: 1px solid #dcdcdc;
        margin-top: 10px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
    }
}

@media (max-width: 1024px) {
    .quickview__btn__wrap .btn__box p {
        visibility: hidden;
        margin: 2px 0 0 1px;
        font-family: FuturaLTPro;
        font-size: 10px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.1;
        text-align: left;
        color: #343434;
    }

    .btn__box .btn_icon_wrap {
        display: flex;
        gap: 5px;
        margin-top: 10px;
    }

    .quickview__box {
        position: fixed;
        width: 101vw;
        min-height: auto;
        bottom: 0;
        height: auto;
    }

    .swiper-quick-container {
        min-height: auto;
        justify-content: flex-start;
        margin: 0 0 0 10px;
    }

    .all-btn.web {
        display: none!important;
    }

    .all-btn.mobile {
        display: block;
    }

    .quickview__content__wrap {
        /* visibility: hidden; */
        transform: translateX(0px);
        transform: translateY(calc(100vh - 252px));
        border-bottom: 0;
        border-left: 0;
        visibility: hidden;
    }

    .quickview__content__wrap.open {
        height: 110px;
        max-width: 101vw;
        visibility: visible;
        margin-bottom: 46px;
    }

    .quickview__btn__wrap {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        border: 0;
        right: 0;
        border-top: 1px solid #000;
        transform: translateX(0px);
        transform: translateY(60px);
        border-left: 1px solid #808080;
    }

    .quickview__btn__wrap.open {
        transform: translateX(-80px);
    }

    .btn__box {
        border-right: 1px solid #808080;
        box-sizing: border-box;
        display: flex;
        flex: auto;
        flex-direction: row !important;
        /* align-items: center; */
        border-bottom: none !important;
        justify-content: flex-start !important;
        margin-left: 10px;
        gap: 5px;
        width: 25%;
    }

    .btn__box p {
        display: none;
    }

    .btn__box.select p {
        display: block;
    }

    .quickview__btn__wrap .btn__box {
        padding: 0;
        height: 45px;
    }

    .quickview__btn__wrap .btn__box p {
        visibility: visible;
    }

    /* swiper css */
    .quickview-whish-swiper .product-name {
        display: none;
    }

    .quickview-whish-swiper .swiper-box img {
        max-height: 55px;
        width: 100%;
        object-fit: cover;
    }

    .quickview__content__wrap.faq.open {
        height: 100%;
        min-height: 100px;
        max-height: calc(100vh - 205px);
        z-index: 10;
        display: flex;
        flex-direction: column;
    }

    .quickview__content__wrap.faq.open .common-contents-container {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .quickview__content__wrap .faq-btn-wrap.admin {
        width: calc(100% - 40px);
        background-color: #f8f8f8;
        margin: 20px 0 20px 20px;
        padding: 20px;
    }

    .quickview__content__wrap .faq-btn-wrap.admin .contents-btn {
        width: 100%;
        height: 30px;
        padding: 0 20px 0 20px;
        border: 1px solid #dcdcdc;
        margin-top: 10px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
    }
}