/* styling-with */
.styling-with-wrap {
    padding-top: 100px;
}

/* module */
.styling-wrap {
    /* margin-bottom: 200px; */
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

.styling-wrap .left__title {
    padding: 10px 0px 0 10px;
    grid-column: 1/2;
    border: 1px solid #dcdcdc;
}

.styling-wrap .left__title span {
    text-decoration: underline;
    font-size: 13px;
}

.styling-wrap .swiper-grid {
    grid-column: 2/17;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.styling-wrap .styling-swiper .product {
    width: 100%;
}

.styling-wrap .styling-swiper .product .product-info .info-row .size__box {
    padding-top: 5px;
}

.styling-wrap .styling-swiper .product .product-info {
    height: 80px;
    padding: 15px 10px;
}

.styling-wrap .styling-swiper .product .product-info .info-row .name {
    margin-bottom: 13px;
}

.styling-wrap .swiper-slide {
    border-right: solid 1px #dcdcdc;
}

.styling-wrap .wish__btn img {
    width: 14px;
    height: 12px;
}

.styling-wrap .product .product-info .info-row .price {
    font-size: 11px;
}

.styling-wrap .swiper-button-next,
.swiper-button-prev {
    opacity: 1;
    transition: 0.5s ease-in-out;
}

.styling-wrap .swiper-button-disabled {
    visibility: hidden;
    opacity: 0 !important;
    transition: 0.5s ease-in-out;
}

.styling-wrap .swiper-button-next {
    width: 1.2rem;
    margin: 24px;
    content: url('/images/svg/sw-ar-bk.svg');
    top: calc(100% - 75%);
    color: var(--bk);
}

.styling-wrap .swiper-button-prev {
    width: 1.2rem;
    margin: 24px;
    content: url('/images/svg/sw-ar-bk.svg');
    transform: rotate(180deg);
    top: calc(100% - 75%);
    color: var(--bk);
}

.styling-wrap .product .product-info .info-row .color__box {
    padding-top: 7px;
}

.styling-wrap .product .product-info .info-row .color__box .color[data-soldout="STSO"]::after {
    height: 12px;
    overflow: hidden;
    right: -3px;
    top: -3px;
}

@media (max-width: 1025px) {
    .styling-wrap {
        display: flex;
        flex-direction: column;
        margin-bottom: 75px;
    }

    .styling-wrap .left__title {
        padding: 0 0 20px 10px;
        border: 0;
    }

    .styling-wrap .left__title span {
        text-decoration: none;
        font-size: 13px;
        font-weight: normal;
        color: #343434;
    }

    .styling-wrap .styling-swiper .product .product-info {
        border-top: 1px solid #dcdcdc;
        position: relative;
        padding: 5px 10px;
        box-sizing: border-box;
        height: 45px;
    }

    .styling-wrap .styling-swiper .product .product-info .info-row .size__box {
        display: none;
    }

    .styling-wrap .styling-swiper .product .product-info .color__box {
        position: absolute;
        bottom: 0px;
        right: 0px;
        margin: 0px !important;
    }

    .styling-wrap .styling-swiper .product .product-info .color-title {
        line-height: 0.5;
        color: #343434;
    }

    .styling-wrap .styling-swiper .product .product-info .info-row .name {
        font-size: 10px;
        margin: 0;
    }

    .styling-wrap .styling-swiper .product .product-info>.info-row:nth-of-type(1) {
        margin-bottom: 13px;

    }

    .styling-wrap .styling-swiper .product .product-info>.info-row:nth-of-type(3) {
        position: relative;
    }

    .styling-wrap .product .wish__btn {
        padding: 15px 10px;
    }

    .styling-wrap .product .name {
        font-size: 10px;
        width: 45px !important;
    }

    .styling-wrap .product .name span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
    }

    .styling-wrap .product .product-info .info-row {
        align-items: center;
    }

    .styling-wrap .product .product-info .info-row .price {
        font-size: 10px;
    }

    .styling-wrap .product .product-info .info-row .price[data-dis="true"] {
        top: 10px;
    }

    .styling-wrap .product .product-info .info-row .price[data-dis="true"]::after {
        top: -9px;
    }

    .styling-wrap .product .product-info .info-row .color__box .color[data-soldout="STSO"]::after {
        right: -2px;
        top: -2px;
        opacity: 0.3;
        height: 8px;
        overflow: hidden;
    }
}