/* login */
#sidebar input{outline: none;}

#sidebar .content__wrap{
    margin-top:10px;
    margin-bottom:10px;
}
#sidebar .font__underline.font__red{
    color:red;
    text-align:right;
}
#sidebar .content__wrap .content__title{
    margin-top:10px;
    margin-bottom:10px;
    height: 16px;
    object-fit: contain;
    font-family: var(--ft-no);
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #343434;
}
#sidebar .content__wrap.login_btn{
    margin-top:20px;
    margin-bottom:10px;
}
#sidebar .content__row .checkbox__label{
    float:left;
}

#sidebar .login__card [type="checkbox"]:checked {
    background-color: #000000;
}
#sidebar .login__card label{
    padding-right: 10px;
    vertical-align: middle;
}
#sidebar .login__card label p, #sidebar label span{
    font-size: 11px;
    font-family:var(--ft-no-fu);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
}

#sidebar .text__align__center{
    text-align:center;
}
#sidebar .font__small{
    height: 16px;
    object-fit: contain;
    font-family: var(--ft-no);
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #343434;
}
#sidebar .font__underline{
    text-decoration: underline;
    height: 16px;
    object-fit: contain;
    font-family: var(--ft-no);
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    float: right;
    color: #343434;
}
#sidebar .card__footer{
    margin-top:20px;
}
#sidebar .kakao__btn{
    float:left;
    margin-right:10px;
}
#sidebar .content__row.sns__account__login{
    width:70px;
    margin:auto;
    margin-top:20px;
}

@media (min-width: 1024px){
    #sidebar .login__card{
        width:470px;
        margin: 0 auto;
        height:575px;
        margin-top:230px;
        margin-bottom:231px;
    }
    #sidebar .login__card [type="checkbox"] {
        vertical-align: middle;
        appearance: none;
        border: 1px solid gray;
        width: 10px;
        height: 10px;
        margin: 0px;
        padding: 0px;
    }
    #sidebar input:-webkit-autofill,
    #sidebar input:-webkit-autofill:hover, 
    #sidebar input:-webkit-autofill:focus, 
    #sidebar input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
    #sidebar input[type="password"], #sidebar input[type="text"]{
        width: 470px;
        height: 40px;
        font-size: 11px;
        padding-left: 12px;
        object-fit: contain;
        border-top: none;
        border-bottom: solid 1px #808080;
        border-left: none;
        border-right: none;
    }
    #sidebar input[type="button"]{
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 11px;
        text-align: center;
        color: #fff;
        cursor:pointer;
        width: 470px;
        height: 40px;
        border-radius: 1px;
        background-color: #191919;
    }
    #sidebar .font__large{
        height:19px;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #343434;
    }
    
    #sidebar .login__card .card__header{
        margin-bottom:20px;
    }
    #sidebar .login__card input[type="text"]{
        font-family: var(--ft-fu);
        border: 1px solid #808080!important;
    }
    #sidebar .login__card input[type="password"]{
        font-family: var(--ft-no);
        border: 1px solid #808080!important;
    }
    #sidebar .contour__line{
        width: 470px;
        height: 1px;
        margin-top: 39.5px;
        margin-bottom: 49.5px;
        object-fit: contain;
        background-color: #eee;
    }
    #sidebar .content__title.sns__account__login{
        margin-top:40px;
    }
}
/* @media (max-width: 1024px){
    #sidebar input[type="password"],#sidebar input[type="text"]{
        width: 340px;
        height: 40px;
        font-size: 1.1rem;
        padding-left: 12px;
        object-fit: contain;
        border-radius: 1px;
        border: solid 1px #808080;
    }

    #sidebar input[type="button"]{
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 1.1rem;
        text-align: center;
        color: #fff;
        cursor:pointer;
        width: 340px;
        height: 40px;
        border-radius: 1px;
        background-color: #191919;
    }
    #sidebar .font__large{
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 1.2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #343434;
    }
    #sidebar .login__card{
        width:340px;
        margin: 0 auto;
        height:581px;
        margin-top:10px;
        margin-bottom:100px;
    }
    #sidebar .login__card .card__header{
        margin-bottom:60px;
    }
    #sidebar .login__card input[type="text"]{
        font-family: var(--ft-fu);
    }
    #sidebar .login__card input[type="password"]{
        font-family: var(--ft-no);
    }
    #sidebar .contour__line{
        width: 340px;
        height: 1px;
        margin-top: 40.5px;
        margin-bottom: 49.5px;
        object-fit: contain;
        background-color: #eee;
    }
    #sidebar .content__title.sns__account__login{
        margin-top:41px;
    }
} */
/* check */
#sidebar input{outline: none;}

#sidebar input::placeholder{
    font-size:11px;
    color: #dcdcdc;
}
#sidebar .content__wrap{
    margin-top:10px;
    margin-bottom:10px;
}
#sidebar .content__wrap .content__title{
    margin-top:10px;
    margin-bottom:10px;
    height: 16px;
    object-fit: contain;
    font-family: var(--ft-no);
    font-size: 11px;
    color: #343434;
}
#sidebar .font__underline.font__red{
    color:red;
    text-align:right;
}
#sidebar .right__area__wrap{
    float:right;
}
#sidebar .other__platform__btn{
    width:70px;
    margin:auto;
    margin-top:20px;
}
#sidebar .kakao__btn{
    float:left;
    margin-right:10px;
}
@media (min-width: 1024px){
    #sidebar .password__search__card{
        width:470px;
        margin: 0 auto;
        height:324px;
        margin-top:229.5px;
        margin-bottom:554px;
    }
    #sidebar .password__search__card .card__header{
       margin-bottom:50px; 
    }
    #sidebar .pc__sns__msg{
        height:19px!important;
        text-align:center;
    }
    #sidebar .moblie__sns__msg{
        display:none;
    }
    #sidebar .font__large{
        height:19px;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 13px;
        color: #343434;
    }
    #sidebar .font__small{
        height: 16px;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 11px;
        color: #343434;
    }
    #sidebar .font__underline{
        text-decoration: underline;
        height: 16px;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 11px;
        float: right;
        color: #343434;
    }
    #sidebar .password__search__card .member_id__check{
        margin-top:21px;
        width:470px;
        height:58px
    }
    #sidebar .content__wrap.grid__two{
        margin-top:21px;
        width:470px;
        height:58px
    }
    #sidebar .password__search__card .grid__two .left__area__wrap{
        height:58px;
        width:350px;
        float:left;
    }
    #sidebar .password__search__card input[type="text"]{
        width: 350px;
        height: 40px;
        font-family: var(--ft-fu);
        font-size: 11px;
        padding-left: 12px;
        object-fit: contain;
        border-radius: 1px;
        border: solid 1px #808080;
    }
    #sidebar .right__area__wrap .black__small__btn{
        width: 110px;
        height: 40px;
        border-radius: 1px;
        background-color: #191919;
        margin-top:18px;
        object-fit: contain;
        font-family: var(--ft-no);
        text-align: center;
        font-size: 11px;
        text-align: center;
        color: #fff;
    }
    #sidebar .contour__line{
        width: 470px;
        height: 1px;
        margin-top: 39.5px;
        margin-bottom: 49.5px;
        object-fit: contain;
        background-color: #eee;
        clear:both;
    }
}
@media (max-width: 1024px){
    #sidebar .login__card [type="checkbox"] {
        vertical-align: middle;
        appearance: none;
        border: 1px solid gray;
        width: 10px;
        height: 10px;
        margin: 2px 0 0 0;
        padding: 0px;
    }
    #sidebar .password__search__card{
        width:341px;
        margin: 0 auto;
        height:413px;
        margin-top:10px;
        margin-bottom:207px;
    }
    #sidebar .password__search__card .card__header{
        margin-bottom:143px;
    }
    #sidebar .pc__sns__msg{
        display:none;
    }
    #sidebar .moblie__sns__msg{
        height:33px!important;
        text-align:center;
    }
    #sidebar .font__large{
        height:17px;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 1.2rem;
        color: #343434;
    }
    #sidebar .font__small{
        height: 16px;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 1.1rem;
        color: #343434;
    }
    #sidebar .font__underline{
        text-decoration: underline;
        height: 16px;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 1.1rem;
        float: right;
        color: #343434;
    }
    #sidebar .content__wrap.grid__two{
        margin-top:6px;
        width:341px;
        height:58px;
    }
    #sidebar .password__search__card .grid__two .left__area__wrap{
        height:58px;
        width:216px;
        float:left;
    }
    #sidebar .password__search__card input[type="text"]{
        width: 216px;
        height: 40px;
        font-family: var(--ft-fu);
        font-size: 1.1rem;
        padding-left: 12px;
        object-fit: contain;
        border-radius: 1px;
        border: solid 1px #808080;
    }
    #sidebar .right__area__wrap .black__small__btn{
        width: 115px;
        height: 40px;
        border-radius: 1px;
        background-color: #191919;
        margin-top:18px;
        text-align: center;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 1.1rem;
        text-align: center;
        color: #fff;
    }
    #sidebar .contour__line{
        width: 340px;
        height: 1px;
        margin-top: 39.5px;
        margin-bottom: 49.5px;
        object-fit: contain;
        background-color: #eee;
        clear:both;
    }
}
/* join */
#sidebar input{outline: none;}
input::-webkit-outer-spin-button,
#sidebar input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#sidebar .code6{display: none;}
#sidebar .code5{font-size: 11px;font-family: var(--ft-fu);width:34px;}
#sidebar .keyword_label{display:none}
#sidebar .search_button{
    width: 110px;
    height: 40px;
    object-fit: contain;
    font-family: var(--ft-no);
    font-size: 11px;
    text-align: center;
    color: #fff;
    cursor:pointer;
    border-radius: 1px;
    background-color: #191919;
    float:right;
}

#sidebar .postcode_search_status{
    font-family: var(--ft-no);
    font-size: 11px;
    border: solid 1px #dcdcdc;
    padding: 23px 19px;
}
#sidebar .postcodify_search_result{
    font-family: var(--ft-no);
    font-size: 11px;
    height:95px;
    border-bottom: solid 1px #dcdcdc;
    padding: 23px 19px;
}
#sidebar .content__wrap{
    margin-top:10px;
    margin-bottom:10px;
}
#sidebar .content__wrap.checkbox__area{
    margin-top:20px;
    margin-bottom:50px;
    clear:both;
}
#sidebar .content__wrap .content__title{
    margin-bottom:10px;
    height: 16px;
    object-fit: contain;
    font-family: var(--ft-no);
    font-size: 11px;
    color: #343434;
}
#sidebar .content__wrap .content__row{
    margin-bottom:10px;
}
#sidebar .content__title.warm__msg__area{
    margin-top:10px;
    margin-bottom:0px!important;
    height:26px;
}
#sidebar .warm__msg__area .font__small{
    float:left;
}
#sidebar .warm__msg__area .font__underline{
    margin-top:8px;
}
#sidebar .contnet__row.warm__msg__area{
    clear:both;
} 
#sidebar .warn__msg{
    float:right;
    color:#ff0000!important;
    visibility:hidden;
    margin-bottom:2px;
}
#sidebar .join__card input[name="member_id"]{
    font-family: var(--ft-fu)!important;
}

#sidebar .join__card [type="checkbox"] {
  vertical-align: middle;
  appearance: none;
  border: 1px solid gray;
  width: 10px;
  height: 10px;
  margin: 0px;
  padding: 0px;
}
#sidebar .join__card [type="checkbox"]:checked {
    background-color: #000000;
}
#sidebar .join__card label{
    padding-right: 10px;
    vertical-align: middle;
}
#sidebar .join__card label p ,#sidebar label span{
    font-size: 11px;
    font-family:var(--ft-no-fu);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
}

#sidebar input[type="button"]{
    object-fit: contain;
    font-family: var(--ft-no);
    font-size: 11px;
    text-align: center;
    color: #fff;
    cursor:pointer;
}
#sidebar input::placeholder{
    font-size:11px;
    color: #dcdcdc;
}
#sidebar .short__input.address__input{
    text-align:right;
    padding-right:10px;
}
#sidebar .grid__three .left__area__wrap input{
    float:left;
}
#sidebar .grid__three .middle__area__wrap input{
    float:left;
    margin-left:10px;
}
#sidebar .grid__three .right__area__wrap input{
    float:right;
}

@media (min-width: 1024px){
    #sidebar .post-change-result{
        width: 74.5%;
        margin: 0!important;
        background-color: #fff;
        overflow: auto;
        max-height: 285px;
        border: 1px solid #808080;
        border-top: 0px;
        top: -32px;
    }
    #sidebar .keyword{
        height:40px;
        width:350px!important;
        float:left;
    }
    #sidebar .join__card .card__header{
        margin-bottom:50px;
    }
    #sidebar .text__align__center{
        text-align:center;
    }
    #sidebar .font__large{
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 13px;
        color: #343434;
    }
    #sidebar .font__small{
        height: 16px;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 11px;
        color: #343434;
    }
    #sidebar .font__underline{
        text-decoration: underline;
        height: 16px;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 11px;
        color: #343434;
    }
    #sidebar .join__card{
        width:470px;
        margin: 0 auto;
        height:869px;
        margin-top:200px;
        margin-bottom:290px;
    }
    #sidebar .join__card input[type="text"]{
        width: 470px;
        height: 40px;
        font-size: 11px;
        font-family: var(--ft-no);
        padding-left: 12px;
        object-fit: contain;
        border-radius: 1px;
        border: solid 1px #808080;
    }
    #sidebar .join__card input[type="number"]{
        width: 470px;
        height: 40px;
        font-size: 11px;
        font-family: var(--ft-no);
        padding-left: 12px;
        object-fit: contain;
        border-radius: 1px;
        border: solid 1px #808080;
    }
    #sidebar .join__card input[type="password"]{
        width: 470px;
        height: 40px;
        font-size: 11px;
        font-family: var(--ft-no);
        padding-left: 12px;
        object-fit: contain;
        border-radius: 1px;
        border: solid 1px #808080;
    }
    #sidebar .join__card .grid__two{
        width:470px;
        height:40px
    }
    #sidebar .join__card .grid__two .left__area__wrap{
        height:40px;
        width:350px;
        float:left;
    }
    #sidebar .join__card .grid__two .right__area__wrap{
        height:40px;
        width:110px;
        float:right;
    }
    #sidebar .grid__two input[type="text"]{
        width: 350px!important;
    }
    #sidebar .grid__three{
        width:470px;
        height:40px
    }
    #sidebar .short__input{
        width: 150px!important;
    }
    #sidebar .black__small__btn{
        width: 110px;
        height: 40px;
        border-radius: 1px;
        background-color: #191919;
        float:right;
    }
    #sidebar .black__btn{
        width: 470px;
        height: 40px;
        border-radius: 1px;
        background-color: #191919;
    }
    #sidebar .contour__line{
        width: 470px;
        height: 1px;
        margin-top: 39.5px;
        margin-bottom: 39.5px;
        object-fit: contain;
        background-color: #eee;
    }
}

@media (max-width: 1024px){
    #sidebar .post-change-result{
        width: 340px;
        margin: 0!important;
        background-color: #fff;
        overflow: auto;
        max-height: 285px;
        border: 1px solid #808080;
        border-top: 0px;
        top: -32px;
    }
    #sidebar .keyword{
        height:40px;
        width:215px!important;
        float:left;
    }
    #sidebar .join__card .card__header{
        margin-bottom:40px;
    }
    #sidebar .text__align__center{
        text-align:center;
    }
    #sidebar .font__large{
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 12px;
        color: #343434;
    }
    #sidebar .font__small{
        height: 16px;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 11px;
        color: #343434;
    }
    #sidebar .font__underline{
        text-decoration: underline;
        height: 16px;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 11px;
        color: #343434;
    }
    #sidebar .join__card{
        width:340px;
        margin: 0 auto;
        height:857px;
        margin-top:10px;
        margin-bottom:100px;
    }
    #sidebar .join__card .margin__top__50px{
        margin-top:50px;
    }
    #sidebar .join__card .margin__top__40px{
        margin-top:40px;
    }
    #sidebar .join__card .margin__top__20px{
        margin-top:20px;
    }
    #sidebar .join__card .margin__top__10px{
        margin-top:10px;
    }
    #sidebar .join__card input[type="text"]{
        width: 340px;
        height: 40px;
        font-size: 11px;
        font-family: var(--ft-no);
        padding-left: 12px;
        object-fit: contain;
        border-radius: 1px;
        border: solid 1px #808080;
    }
    #sidebar .join__card input[type="number"]{
        width: 340px;
        height: 40px;
        font-size: 11px;
        font-family: var(--ft-no);
        padding-left: 10px;
        object-fit: contain;
        border-radius: 1px;
        border: solid 1px #808080;
    }
    #sidebar .join__card input[type="password"]{
        width: 340px;
        height: 40px;
        font-size: 11px;
        font-family: var(--ft-no);
        padding-left: 12px;
        object-fit: contain;
        border-radius: 1px;
        border: solid 1px #808080;
    }

    #sidebar .join__card .grid__two{
        width:340px;
        height:40px
    }
    #sidebar .join__card .grid__two .left__area__wrap{
        height:40px;
        width:215px;
        float:left;
    }
    #sidebar .join__card .grid__two .right__area__wrap{
        height:40px;
        width:115px;
        float:right;
    }
    #sidebar .grid__two input[type="text"]{
        width: 215px!important;
    }
    #sidebar .grid__three{
        width:340px;
        height:40px
    }
    #sidebar .grid__two input[type="text"]{
        width: 215px!important;
    }
    #sidebar .short__input{
        width: 106px!important;
    }
    #sidebar .black__small__btn{
        width: 115px;
        height: 39px;
        border-radius: 1px;
        background-color: #191919;
        float:right;
    }
    #sidebar .black__btn{
        width: 340px;
        height: 40px;
        border-radius: 1px;
        background-color: #191919;
    }
    #sidebar .contour__line{
        width: 470px;
        height: 1px;
        margin-top: 39.5px;
        margin-bottom: 39.5px;
        object-fit: contain;
        background-color: #eee;
    }
}
/* password-put */
#sidebar input{outline: none;}

#sidebar input::placeholder{
    font-size:11px;
    color: #dcdcdc;
}
#sidebar .content__wrap{
    margin-top:10px;
    margin-bottom:10px;
}
#sidebar .content__wrap .content__title{
    margin-top:10px;
    margin-bottom:10px;
    height: 16px;
    object-fit: contain;
    font-family: var(--ft-no);
    font-size: 11px;
    color: #343434;
}
#sidebar .content__title.warm__msg__area{
    margin-top:10px;
    margin-bottom:0px!important;
    height:26px;
}
#sidebar .warn__msg{
    float:right;
    color:#ff0000!important;
    visibility:hidden;
    margin-bottom:2px;
}
#sidebar .font__underline.font__red{
    color:red;
    text-align:right;
}
#sidebar .right__area__wrap{
    float:right;
}
#sidebar .other__platform__btn{
    width:70px;
    margin:auto;
    margin-top:20px;
}
#sidebar .kakao__btn{
    float:left;
    margin-right:10px;
}

@media (min-width: 1024px){
    #sidebar input[type="button"]{
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 11px;
        text-align: center;
        color: #fff;
        cursor:pointer;
        width: 470px;
        height: 40px;
        border-radius: 1px;
        background-color: #191919;
    }
    #sidebar .password__update__card{
        width:470px;
        margin: 0 auto;
        height:324px;
        margin-top:229.5px;
        margin-bottom:554px;
    }
    #sidebar .password__update__card .card__header{
       margin-bottom:50px; 
    }
    #sidebar .pc__sns__msg{
        height:19px!important;
        text-align:center;
    }
    #sidebar .moblie__sns__msg{
        display:none;
    }
    #sidebar .font__large{
        height:19px;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 13px;
        color: #343434;
    }
    #sidebar .font__small{
        height: 16px;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 11px;
        color: #343434;
    }
    #sidebar .font__underline{
        text-decoration: underline;
        height: 16px;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 11px;
        float: right;
        color: #343434;
    }
    #sidebar .password__update__card .member_id__check{
        margin-top:21px;
        width:470px;
        height:58px
    }
    #sidebar .content__wrap.grid__two{
        margin-top:21px;
        width:470px;
        height:58px
    }
    #sidebar .password__update__card input[type="password"]{
        width: 470px;
        height: 40px;
        font-family: var(--ft-fu);
        font-size: 11px;
        padding-left: 12px;
        object-fit: contain;
        border-radius: 1px;
        border: solid 1px #808080;
    }
    #sidebar .contour__line{
        width: 470px;
        height: 1px;
        margin-top: 39.5px;
        margin-bottom: 49.5px;
        object-fit: contain;
        background-color: #eee;
        clear:both;
    }
}

@media (max-width: 1024px){
    #sidebar input[type="button"]{
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 11px;
        text-align: center;
        color: #fff;
        cursor:pointer;
        width: 340px;
        height: 40px;
        border-radius: 1px;
        background-color: #191919;
    }
    #sidebar .password__update__card{
        width:341px;
        margin: 0 auto;
        height:413px;
        margin-top:10px;
        margin-bottom:207px;
    }
    #sidebar .password__update__card .card__header{
        margin-bottom:143px;
    }
    #sidebar .pc__sns__msg{
        display:none;
    }
    #sidebar .moblie__sns__msg{
        height:33px!important;
        text-align:center;
    }
    #sidebar .font__large{
        height:17px;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 1.2rem;
        color: #343434;
    }
    #sidebar .font__small{
        height: 16px;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 1.1rem;
        color: #343434;
    }
    #sidebar .font__underline{
        text-decoration: underline;
        height: 16px;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 1.1rem;
        float: right;
        color: #343434;
    }
    #sidebar .content__wrap.grid__two{
        margin-top:6px;
        width:341px;
        height:58px;
    }
    #sidebar .password__update__card input[type="password"]{
        width: 340px;
        height: 40px;
        font-family: var(--ft-fu);
        font-size: 1.1rem;
        padding-left: 12px;
        object-fit: contain;
        border-radius: 1px;
        border: solid 1px #808080;
    }
    #sidebar .contour__line{
        width: 340px;
        height: 1px;
        margin-top: 39.5px;
        margin-bottom: 49.5px;
        object-fit: contain;
        background-color: #eee;
        clear:both;
    }
}
/* search */
#sidebar input{outline: none;}

#sidebar input::placeholder{
    font-size:11px;
    color: #dcdcdc;
}
#sidebar .content__wrap{
    margin-top:10px;
    margin-bottom:10px;
}
#sidebar .content__wrap .content__title{
    margin-top:10px;
    margin-bottom:10px;
    height: 16px;
    object-fit: contain;
    font-family: var(--ft-no);
    font-size: 11px;
    color: #343434;
}
#sidebar .font__underline.font__red{
    color:red;
    text-align:right;
}
#sidebar .right__area__wrap{
    float:right;
}
#sidebar .other__platform__btn{
    width:70px;
    margin:auto;
    margin-top:20px;
}
#sidebar .kakao__btn{
    float:left;
    margin-right:10px;
}

@media (min-width: 1024px){
    #sidebar .password__search__card{
        width:470px;
        margin: 0 auto;
        height:324px;
        margin-top:229.5px;
        margin-bottom:554px;
    }
    #sidebar .password__search__card .card__header{
       margin-bottom:50px; 
    }
    #sidebar .pc__sns__msg{
        height:19px!important;
        text-align:center;
    }
    #sidebar .moblie__sns__msg{
        display:none;
    }
    #sidebar .font__large{
        height:19px;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 13px;
        color: #343434;
    }
    #sidebar .font__small{
        height: 16px;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 11px;
        color: #343434;
    }
    #sidebar .font__underline{
        text-decoration: underline;
        height: 16px;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 11px;
        float: right;
        color: #343434;
    }
    #sidebar .password__search__card .member_id__check{
        margin-top:21px;
        width:470px;
        height:58px
    }
    #sidebar .content__wrap.grid__two{
        margin-top:21px;
        width:470px;
        height:58px
    }
    #sidebar .password__search__card .grid__two .left__area__wrap{
        height:58px;
        width:350px;
        float:left;
    }
    #sidebar .password__search__card input[type="text"]{
        width: 350px;
        height: 40px;
        font-family: var(--ft-fu);
        font-size: 11px;
        padding-left: 12px;
        object-fit: contain;
        border-radius: 1px;
        border: solid 1px #808080;
    }
    #sidebar .right__area__wrap .black__small__btn{
        width: 110px;
        height: 40px;
        border-radius: 1px;
        background-color: #191919;
        margin-top:18px;
        object-fit: contain;
        font-family: var(--ft-no);
        text-align: center;
        font-size: 11px;
        text-align: center;
        color: #fff;
    }
    #sidebar .contour__line{
        width: 470px;
        height: 1px;
        margin-top: 39.5px;
        margin-bottom: 49.5px;
        object-fit: contain;
        background-color: #eee;
        clear:both;
    }
}

@media (max-width: 1024px){
    #sidebar .password__search__card{
        width:341px;
        margin: 0 auto;
        height:413px;
        margin-top:10px;
        margin-bottom:207px;
    }
    #sidebar .password__search__card .card__header{
        margin-bottom:143px;
    }
    #sidebar .pc__sns__msg{
        display:none;
    }
    #sidebar .moblie__sns__msg{
        height:33px!important;
        text-align:center;
    }
    #sidebar .font__large{
        height:17px;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 1.2rem;
        color: #343434;
    }
    #sidebar .font__small{
        height: 16px;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 1.1rem;
        color: #343434;
    }
    #sidebar .font__underline{
        text-decoration: underline;
        height: 16px;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 1.1rem;
        float: right;
        color: #343434;
    }
    #sidebar .content__wrap.grid__two{
        margin-top:6px;
        width:341px;
        height:58px;
    }
    #sidebar .password__search__card .grid__two .left__area__wrap{
        height:58px;
        width:216px;
        float:left;
    }
    #sidebar .password__search__card input[type="text"]{
        width: 216px;
        height: 40px;
        font-family: var(--ft-fu);
        font-size: 1.1rem;
        padding-left: 12px;
        object-fit: contain;
        border-radius: 1px;
        border: solid 1px #808080;
    }
    #sidebar .right__area__wrap .black__small__btn{
        width: 115px;
        height: 40px;
        border-radius: 1px;
        background-color: #191919;
        margin-top:18px;
        text-align: center;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 1.1rem;
        text-align: center;
        color: #fff;
    }
    #sidebar .contour__line{
        width: 340px;
        height: 1px;
        margin-top: 39.5px;
        margin-bottom: 49.5px;
        object-fit: contain;
        background-color: #eee;
        clear:both;
    }
}
/* login-update */
input::-webkit-outer-spin-button,
#sidebar input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#sidebar .content__wrap{
    margin-top:10px;
    margin-bottom:10px;
}
#sidebar .content__wrap.checkbox__area{
    margin-top:20px;
    margin-bottom:50px;
    clear:both;
}
#sidebar .content__wrap .content__title{
    margin-bottom:10px;
    height: 16px;
    object-fit: contain;
    font-family: var(--ft-no);
    font-size: 11px;
    color: #343434;
}
#sidebar .content__wrap .content__row{
    margin-bottom:10px;
}
#sidebar .content__title.warm__msg__area{
    margin-top:10px;
    margin-bottom:0px!important;
    height:26px;
}
#sidebar .warm__msg__area .font__small{
    float:left;
}
#sidebar .warm__msg__area .font__underline{
    margin-top:8px;
}
#sidebar .contnet__row.warm__msg__area{
    clear:both;
} 
#sidebar .warn__msg{
    float:right;
    color:#ff0000!important;
    visibility:hidden;
    margin-bottom:2px;
}
#sidebar input[type="checkbox"] + label{
    /* display: inline-block; */
    width: 10px;
    height: 10px;
    margin-top:3px;
    /* margin-right:4px; */
    border-radius: 1px;
    /* border: solid 1px #808080; */
    cursor:pointer;
}
#sidebar input[type="checkbox"]:checked + label{
    /* display: inline-block; */
    width: 10px;
    height: 10px;
    margin-top:3px;
    /* margin-right:4px; */
    border-radius: 1px;
    /* border: solid 1px #000000; */
    cursor:pointer;
}
#sidebar .join__card input[type="checkbox"]{
    display:none;
}
#sidebar input[type="button"]{
    object-fit: contain;
    font-family: var(--ft-no);
    font-size: 11px;
    text-align: center;
    color: #fff;
    cursor:pointer;
}
#sidebar input::placeholder{
    font-size:11px;
    color: #dcdcdc;
}
#sidebar .short__input.address__input{
    text-align:right;
    padding-right:10px;
}
#sidebar .grid__three .left__area__wrap input{
    float:left;
}
#sidebar .grid__three .middle__area__wrap input{
    float:left;
    margin-left:10px;
}
#sidebar .grid__three .right__area__wrap input{
    float:right;
}

@media (min-width: 1024px){
    #sidebar .join__card .card__header{
        margin-bottom:50px;
    }
    #sidebar .text__align__center{
        text-align:center;
    }
    #sidebar .font__large{
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 13px;
        color: #343434;
    }
    #sidebar .font__small{
        height: 16px;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 11px;
        color: #343434;
    }
    #sidebar .font__underline{
        text-decoration: underline;
        height: 16px;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 11px;
        color: #343434;
    }
    #sidebar .join__card{
        width:470px;
        margin: 0 auto;
        height:869px;
        margin-top:200px;
        margin-bottom:290px;
    }
    #sidebar .join__card input[type="text"]{
        width: 470px;
        height: 40px;
        font-size: 11px;
        font-family: var(--ft-no);
        padding-left: 12px;
        object-fit: contain;
        border-radius: 1px;
        border: solid 1px #808080;
    }
    #sidebar .join__card input[type="number"]{
        width: 470px;
        height: 40px;
        font-size: 11px;
        font-family: var(--ft-no);
        padding-left: 12px;
        object-fit: contain;
        border-radius: 1px;
        border: solid 1px #808080;
    }
    #sidebar .join__card input[type="password"]{
        width: 470px;
        height: 40px;
        font-size: 11px;
        font-family: var(--ft-no);
        padding-left: 12px;
        object-fit: contain;
        border-radius: 1px;
        border: solid 1px #808080;
    }
    #sidebar .join__card .grid__two{
        width:470px;
        height:40px
    }
    #sidebar .join__card .grid__two .left__area__wrap{
        height:40px;
        width:350px;
        float:left;
    }
    #sidebar .join__card .grid__two .right__area__wrap{
        height:40px;
        width:110px;
        float:right;
    }
    #sidebar .grid__two input[type="text"]{
        width: 350px!important;
    }
    #sidebar .grid__three{
        width:470px;
        height:40px
    }
    #sidebar .short__input{
        width: 150px!important;
    }
    #sidebar .black__small__btn{
        width: 110px;
        height: 40px;
        border-radius: 1px;
        background-color: #191919;
        float:right;
    }
    #sidebar .black__btn{
        width: 470px;
        height: 40px;
        border-radius: 1px;
        background-color: #191919;
    }
    #sidebar .contour__line{
        width: 470px;
        height: 1px;
        margin-top: 39.5px;
        margin-bottom: 39.5px;
        object-fit: contain;
        background-color: #eee;
    }
}

@media (max-width: 1024px){
    #sidebar .join__card .card__header{
        margin-bottom:40px;
    }
    #sidebar .text__align__center{
        text-align:center;
    }
    #sidebar .font__large{
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 12px;
        color: #343434;
    }
    #sidebar .font__small{
        height: 16px;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 11px;
        color: #343434;
    }
    #sidebar .font__underline{
        text-decoration: underline;
        height: 16px;
        object-fit: contain;
        font-family: var(--ft-no);
        font-size: 11px;
        color: #343434;
    }
    #sidebar .join__card{
        width:340px;
        margin: 0 auto;
        height:857px;
        margin-top:10px;
        margin-bottom:100px;
    }
    #sidebar .join__card .margin__top__50px{
        margin-top:50px;
    }
    #sidebar .join__card .margin__top__40px{
        margin-top:40px;
    }
    #sidebar .join__card .margin__top__20px{
        margin-top:20px;
    }
    #sidebar .join__card .margin__top__10px{
        margin-top:10px;
    }
    #sidebar .join__card input[type="text"]{
        width: 340px;
        height: 40px;
        font-size: 11px;
        font-family: var(--ft-no);
        padding-left: 12px;
        object-fit: contain;
        border-radius: 1px;
        border: solid 1px #808080;
    }
    #sidebar .join__card input[type="number"]{
        width: 340px;
        height: 40px;
        font-size: 11px;
        font-family: var(--ft-no);
        padding-left: 10px;
        object-fit: contain;
        border-radius: 1px;
        border: solid 1px #808080;
    }
    #sidebar .join__card input[type="password"]{
        width: 340px;
        height: 40px;
        font-size: 11px;
        font-family: var(--ft-no);
        padding-left: 12px;
        object-fit: contain;
        border-radius: 1px;
        border: solid 1px #808080;
    }

    #sidebar .join__card .grid__two{
        width:340px;
        height:40px
    }
    #sidebar .join__card .grid__two .left__area__wrap{
        height:40px;
        width:215px;
        float:left;
    }
    #sidebar .join__card .grid__two .right__area__wrap{
        height:40px;
        width:115px;
        float:right;
    }
    #sidebar .grid__two input[type="text"]{
        width: 215px!important;
    }
    #sidebar .grid__three{
        width:340px;
        height:40px
    }
    #sidebar .grid__two input[type="text"]{
        width: 215px!important;
    }
    #sidebar .short__input{
        width: 106px!important;
    }
    #sidebar .black__small__btn{
        width: 115px;
        height: 39px;
        border-radius: 1px;
        background-color: #191919;
        float:right;
    }
    #sidebar .black__btn{
        width: 340px;
        height: 40px;
        border-radius: 1px;
        background-color: #191919;
    }
    #sidebar .contour__line{
        width: 470px;
        height: 1px;
        margin-top: 39.5px;
        margin-bottom: 39.5px;
        object-fit: contain;
        background-color: #eee;
    }
}