/* common */

html{
   
}
body {
    width:100%;
    overflow-x:hidden;
}
main{
    padding-top: 70px;
}
nav li{
    list-style-type: none;
}
.btn__wrap{
    font-family: NotoSansCJKkr;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    display: flex;
    gap: 30px;
}

/* 햄버거 */
.hamburger .line {
    width: 20px;
    height: 1px;
    background-color: #000;
    display: block;
    margin: 5px 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.hamburger:hover {
    cursor: pointer;
}

#hamburger.is-active .line:nth-child(2) {
    opacity: 0;
  }

#hamburger.is-active .line:nth-child(1) {
-webkit-transform: translateY(6px) rotate(45deg);
-ms-transform: translateY(6px) rotate(45deg);
-o-transform: translateY(6px) rotate(45deg);
transform: translateY(6px) rotate(45deg);
}

#hamburger.is-active .line:nth-child(3) {
-webkit-transform: translateY(-6px) rotate(-45deg);
-ms-transform: translateY(-6px) rotate(-45deg);
-o-transform: translateY(-6px) rotate(-45deg);
transform: translateY(-6px) rotate(-45deg);
}



.new__project__swiper .btn__wrap > div::after{
    content: "";
    display: block;
    width: 100%;
    border-bottom: 2px solid #fff;
}
.exhibtion__wrap .btn__wrap > div::after{
    content: "";
    display: block;
    width: 100%;
    border-bottom: 2px solid #000;
}
.styling-swiper .btn__wrap {
    padding-left: 10px;
}
.styling-swiper .btn__wrap > div::after{
    content: "";
    display: block;
    width: 100%;
    border-bottom: 2px solid #000;
}
/* notice */
.notice__marquee{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}
.notice__wrap{
    font-family: "Noto Sans KR", sans-serif;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding: 0 10px;
    height: 30px;
    border-bottom-width: 1px;
}
.notice__wrap .notice__title{
    font-size: 11px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #000;
}
.notice__wrap .notice__a{
    font-size: 11px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
}
header {
        z-index: 20;
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}



/* nav */
#web{
    border-top: solid 1px #dcdcdc;
}
#mobile span, img {
    cursor: pointer;
}
#mobile .side__menu{
    position: absolute;
    overflow: hidden;
    top: 72px;
    /* 노티스 닫으면 top-30px해야함 */
    width:100%;
    left:-100%;
    height: 100vh;
    background: #Fff;
    padding:70px 55px 0 55px;
    z-index: 10;
    transform:translate(0,0);
    transition:transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
#mobile.menu__on .side__menu{
    transform:translate(100%,0);
}
#mobile .text1{
    display: flex;
    gap: 24px;
    flex-direction: column;
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
    padding-bottom: 48px;
}
#mobile .text2{
    display: flex;
    gap: 12px;
    flex-direction: column;
    font-family: NotoSansCJKkr;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
    padding-bottom: 36px;
}
#mobile .text3{
    display: flex;
    gap: 16px;
    flex-direction: column;
    font-family: NotoSansCJKkr;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
}
#mobile .text3 > li {
    width: 180px;
}
.header__logo{
    margin-left: 10px;
}
/* 검색화면 */
.mobile__search {
    display: none;
}
.mobile__search .seach__input{
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #dcdcdc;
    padding: 5px;
    margin-bottom: 27px;
}
.mobile__search .seach__input input:focus {
    outline: none;
}
.mobile__search .seach__input input::placeholder {
    color: #dcdcdc;
}
.mobile__search .recommend__search ul >li {
    padding: 10px 0;
}
.mobile__search .recommend__search .recommend__search__title{
    font-family: FuturaLTPro;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
}
.mobile__search .recommend__search .search__result{
    font-family: NotoSansCJKkr;
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
}
.mobile__search .recommend__prd{
    padding-top: 40px;
}
.mobile__search .prd__content{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
} 

.mobile__search .prd__card{
    width: 100%;
    width: 80px;
}
.mobile__search .prd__img__wrap{
    background-color: #fbfbfb;

}
.mobile__search .prd__img{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    margin: 10px;

}
.mobile__search .prd__title{
    text-align: center;
    font-family: FuturaLTPro;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
    margin-bottom: 24px;
}
    
.mobile__search .prd__img__title{
    text-align: center;
    font-family: FuturaLTPro;
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #343434;
}
    










/* new project */
.new__project__img{
    width: 100%;
    height: 615px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.new__project__content{
    color: #fff;
    position: relative;
    top: 70%;
    left: 10px;
}
.new__project__swiper{
    overflow-x:auto ;
}
.new__project__swiper .swiper-button-next, .swiper-button-prev {
    color: #fff;
    top: 40%;
}
.new__project__content .season__title{
    font-family: FuturaLTPro;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
}
.new__project__content .title{
    font-family: FuturaLTPro;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.75px;
    text-align: left;
}

/* recommend */
.recommend-swiper{
    padding-bottom: 80px;
}
.recommend-swiper .recommend__prd{
    border-right-width: 0px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-left-color: #dcdcdc;
}
.for__you__box{
    width: 240px;
    padding: 20px;
}
.recommend-swiper .recommend__img{
    width: 100%;
    height: 215px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.recommend-swiper .color__chip {
    display: flex;
    gap: 8px;
    align-items: center;
}

.recommend-swiper .color__chip li {
    list-style-type: none;
    width: 8px;
    height: 8px;
}

/* exhibtion */
.exhibtion__content{
    padding: 10px;
    background-color: #fbfbfb;
}
.exhibtion__content .title{
    font-family: NotoSansCJKkr;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}
.exhibtion__content .season__title{
    font-family: FuturaLTPro;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: 0.6px;
    text-align: left;
    color: #343434;
    padding-bottom: 30px;
}

.exhibtion__img{
    width: 100%;
    height: 360px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* 기획전 상품 */
.exhibtion__prd__wrap{
    background-color: #fbfbfb;
}
.exhibtion__prd__wrap .prd__box{
    display: flex;
    width: 100%;
}
.exhibtion__prd__wrap .prd__card{
    flex-grow: 1;
}
.exhibtion__prd__wrap .prd__img__wrap{
    width: 100%;
    height: 225px;
    padding: 20px;
}
.exhibtion__prd__wrap .prd__img{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
.exhibtion__prd__wrap .prd__title{
    text-align: center;
    font-family: FuturaLTPro;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #343434;
    margin-bottom: 24px;
}
/* 스타일링 */
.styling-swiper{
    padding-bottom: 100px;
    width: 100%;
}
.styling-swiper .styling__img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 270px;
    width: 100%;
}

.styling-swiper .title{
    padding: 20px 0 10px 10px;
    font-family: FuturaLTPro;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
}


/* footer */
footer {
    background-color: #191919;
    
}
footer ul > li .drop__down__wrap {
    align-items: center;
    height: 45px;
    display: flex;
    justify-content: space-between;
    color:#fff;

}
footer .drop__down__content.about .about{
    font-family: NotoSansCJKkr;
    font-size: 10px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.1;
    letter-spacing: 0.25px;
    text-align: left;
}
footer .drop__down__content .disclaimer{
    align-items: center;
    display: flex;
    height: 45px;
    border-bottom:1px solid #464646;
    font-family: NotoSansCJKkr;
    font-size: 10px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}
footer .drop__down__content .service{
    font-family: NotoSansCJKkr;
    font-size: 10px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.1;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}
footer .drop__down__content .info{
    font-family: NotoSansCJKkr;
    font-size: 10px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.1;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}
footer .drop__down__content ul > li:last-child{
    border-bottom:0px;
}
footer span{
    padding-left: 10px;
}
footer img{
    padding-right: 20px;
}
footer .drop__down__wrap{
    border-bottom:solid 1px #fff;

}
footer .about{
    font-family: FuturaLTPro;
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
}
footer .last{
    font-family: FuturaLTPro;
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
}
footer [data-dropdown="none"]{
    color: #fff;
    padding: 10px;
    display: none;
}
footer [data-dropdown="show"]{
    display: block;
    color: #fff;
    padding: 10px;
}

.footer__content{
    font-family: NotoSansCJKkr;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: left;
}
 
@media (min-width: 1024px){
    header{
        min-width: 320px;
        margin: 0 auto;
    }
    main{
        max-width: 1920px;
        min-width: 320px;
        margin: 0 auto;
        overflow: hidden;
    }

    .nav__bar{
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(16, 120px);gap: 10px;
    }
    .exhibtion__wrap{
        display: flex;
    }
    .exhibtion__wrap .exhibtion__img{
        width: 50%;
        order: 2;
        height: 960px;
    }
    .exhibtion__wrap .exhibtion__content{
        display: flex;
        width: 50%;
        order: 1;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0 0 100px 130px;
    }

    .exhibtion__box{
        width: 50%;
    }
    .exhibtion__box.content{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-left: 80px;
    }




    .recommend-swiper .recommend__img{
        height: 450px;
    }
    .exhibtion__prd__wrap{
        display: flex;
    }
    .exhibtion__prd__wrap .prd__card{
        height: 600px;
    }
    .exhibtion__prd__wrap .prd__img__wrap{
        height:90%;
    }
}