:root{
    --lookbookGrid: repeat(3,1fr);
}
main {
    display: grid;
    grid-template-columns: repeat(16,1fr);
}
.runway-wrap video::-webkit-media-controls-fullscreen-button {display: none !important;}
.runway-wrap video::-webkit-media-controls-play-button {display: none !important;}
.runway-wrap video::-webkit-media-controls-timeline {display: none !important;}
.runway-wrap video::-webkit-media-controls-current-time-display{display: none !important;}
.runway-wrap video::-webkit-media-controls-time-remaining-display {display: none !important;}
.runway-wrap video::-webkit-media-controls-mute-button {display: none !important;}
.runway-wrap video::-webkit-media-controls-volume-slider {display: none !important;}
.runway-wrap video::-webkit-media-controls-fullscreen-button {display: none !important;}

.runway-detail-wrap video::-webkit-media-controls-fullscreen-button {display: none !important;}
.runway-detail-wrap video::-webkit-media-controls-play-button {display: none !important;}
.runway-detail-wrap video::-webkit-media-controls-timeline {display: none !important;}
.runway-detail-wrap video::-webkit-media-controls-current-time-display{display: none !important;}
.runway-detail-wrap video::-webkit-media-controls-time-remaining-display {display: none !important;}
.runway-detail-wrap video::-webkit-media-controls-mute-button {display: none !important;}
.runway-detail-wrap video::-webkit-media-controls-volume-slider {display: none !important;}
.runway-detail-wrap video::-webkit-media-controls-fullscreen-button {display: none !important;}




figure {
    margin: 0;
}
ul,ol{
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
}
.hidden {
    display: none;
}
.lock-wrap{
    position: relative;
}
.object-fit {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.thumbnail-side.open{
display: block;
}
.thumbnail-side {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.75;
    background-color: #fff;
    width: 240px;
    height: 100vh;
    z-index: 2;
    padding: 70px 0 0 10px;
}
.thumbnail-side ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.thumbnail-side ul > li {
    cursor: pointer;
    list-style: none;
    font-size: 12px;
    color: #343434;
}
.thumbnail-side:hover .select {
    text-decoration: underline;
}

/*
runway-wrap
----------------------------------------------------
*/
.runway-wrap {
    grid-column:1/17 ;
    height: 100%;
    min-height: 100vh;
    display: none;
}
.runway-wrap.open {
    display: block;
}
.runway-wrap article{
    width: 100%;
    height: 100%;
    position: relative;
}
.runway-wrap figure{
    width: 100%;
    height: 100%;
    display: block;
}
.runway-wrap video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.runway-wrap figcaption{
    display: none;    
}


/*
runway-detail-wrap
----------------------------------------------------
*/
.runway-detail-wrap.open{
    display: grid;
}

.runway-detail-wrap{
    display: none;
    grid-column:1/17 ;
    grid-template-columns: repeat(16,1fr);
    height: 100%;
}
.controller-swiper-wrap {
    grid-column: 2/17;
    margin-bottom: 20px;
}
.controller-swiper-wrap .swiper-wrapper{
    margin-top: 10px;
}
.preview-swiper-wrap {
    grid-column: 2/16;
    position: relative;
}
.swiper-slide-thumb-active{
    transform: translateY(-6px)!important;
    transition: all 0.3s;
}
.runway-detail-wrap .swiper-button-prev:after{
    display: none;
}
.runway-detail-wrap .swiper-button-prev{
    transform: rotate(180deg);
    background: url("/images/svg/story-arrow.svg") no-repeat;
    background-position: center;
    background-size: 100%;
    top: 50%;
    left: -60px;
}
.runway-detail-wrap .swiper-button-next::after{
    display: none;
}
.runway-detail-wrap .swiper-button-next{
    background: url("/images/svg/story-arrow.svg") no-repeat;
    background-position: center;
    background-size: 100%;
    top: 50%;
    right: -60px;
}
.runway-detail-wrap .swiper-pagination{
    right: -50px;
    left: auto;
    text-align: right;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #343434;
}

    
.runway-content-wrap {
    grid-column: 2/17;   
    margin-top: 30px;
}
.runway-content-wrap .runway-contet-title{
    margin-bottom: 40px;
    font-size: 12px;
    text-align: left;
    color: #343434;
}
.runway-content-wrap .runway-contet-subtitle{
    font-size: 12px;
    text-align: left;
    color: #343434;
}
.runway-controller-swiper .swiper-slide{
    max-width: 90px;
    max-height:47px;
}
.runway-controller-swiper .swiper-slide img{
    height:47px!important;
}
/* styling-with */
.styling-with-wrap{
    grid-column: 1/17;
    margin-bottom: 200px;
}
.styling-wrap .left__title{
    border-bottom: 1px solid #dcdcdc!important;
}
.styling-wrap .swiper-grid{
    border-bottom: 1px solid #dcdcdc;
}
.show_more_btn{
    display: none;
}
.top-btn{
    display: none;
}
@media(max-width:1025px){
    
    /*
    lookbook-wrap
    ----------------------------------------------------
    */
    .vcontroll{
        position: relative;
        width: 100%;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        color: #000!important;
    }
    .vcontroll ul{
        padding: 0;
    }
    html, body{
        overflow: auto;
    }
    .object-fit{
        display: initial;    
    }
    .runway-wrap video{
        position: static;
    }
    .thumbnail-side.open{
        display: none;
    }
    .runway-detail-wrap.open {
        display: flex;
        flex-direction: column;
    }
    .runway-wrap.open{
        display: flex!important;
        flex-direction: column;
        gap: 80px;
    }
    .controller-swiper-wrap{
        padding-left: 10px;
    }
    .preview-swiper-wrap{
        padding: 0 10px;
        margin-bottom: 80px;
        position: relative;

    }
    .runway-content-wrap{
        padding: 10px;
    }
    .runway-wrap figcaption{
        padding: 10px;
        display: block;
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #343434;
    }
    .runway-controller-swiper .swiper-slide img{
        height:45px!important;
    }
    .runway-detail-wrap .swiper-button-next {
        background-size: 100%;
        bottom: -43px;
        top: auto;
        background-size: 35px;
        height: 41px;
        width: 35px;
    }
    .runway-detail-wrap .swiper-button-prev {
        background-size: 100%;
        bottom: -43px;
        top: auto;
        background-size: 35px;
        height: 41px;
        width: 35px;
    }
    .runway-detail-wrap .swiper-pagination{
        text-align: center;
        left: 0;
        bottom: -30px;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #343434;
    }

    .show_more_btn{
        font-size: 11px;
        margin-top: 80px;
        grid-column: 1/17;
        display: block;
        width: 100%;
        height: 100px;
        background-color: #fbfbfb;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .runway-contet-title{
        margin-top: 0;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #343434;
        margin-bottom: 40px
    }
    .runway-contet-subtitle{
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #343434;
    }
/*
top-btn
----------------------------------------------------
*/
    .top-btn {
        display: block;
        grid-column: 1/17;
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin: 100px 0 140px 0;
    }
    .top-btn img{
        width: 45px;
        height: 45px;

    }

    .styling-with-wrap {
        padding-top: 70px;
    }
    .styling-wrap .left__title{
        padding: 10px;
    }
}