.standby-banner-wrap {
    width: 100%;
    height: 400px;
    position: relative;
}
.bnner-countdown {
    position: absolute;
    width: 100%;
    background-color: #191919;
    height: 40px;
    bottom: 0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.standby-banner-wrap .banner-img  {
    width: 100%;
    height: 100%;
}
.standby-banner-wrap .banner-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.standby-list-wrap {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.standby-list-wrap .product-wrap {
    width: 50%;
    /* background-color: blue; */
    order: 1;
    display: flex;
    flex-wrap: wrap;
}

.standby-list-wrap .info {
    display: flex;
    justify-content: center;
    /* background-color: red; */
}
.standby-list-wrap .info .info__box {
    width: 50%;
}
.standby-list-wrap .info-1 {
    margin-top: 120px;
    width: 100%;
    order: 2;
}

.standby-list-wrap .info-2 {
    /*background-color: aqua;*/
    width: 100%;
    order: 3;
}
.standby-list-wrap .product{
    background-color: #ffffff;
    width: 100%;
    border: 0px solid #dcdcdc;
    border-width: 0px 1px 1px 0px;
    box-sizing: border-box;
}
.standby-list-wrap .product.half{
    background-color: #ffffff;
    width: 50%;
    border: 0px solid #dcdcdc;
    border-width: 0px 1px 1px 0px;
    box-sizing: border-box;
}
.standby-list-wrap .product .prd-img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.standby-list-wrap .standby-notice{
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
}
.standby-list-wrap .info-wrap {
    width: 50%;
    order: 2;
}
.standby-list-wrap .info-standby-title {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
    margin-bottom: 10px;
}
.standby-list-wrap .whish_img {
    width: 14.4px;
    height: 12px;
}
.standby-list-wrap .info-product-name {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: left;
    color: #343434;
}
.standby-list-wrap .info-product-content1 {
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
    margin-bottom: 20px;
}
.standby-list-wrap .info-product-content2 {
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
    margin-bottom: 30px;
}
.standby-list-wrap .info-standby-date{
    list-style: none;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
    margin-bottom: 40px;
}
.standby-list-wrap .agreement{
    margin-bottom: 30px;
}
.standby-list-wrap .agreement_box{
    padding: 10px;
    line-height: 2;
    width: 100%;
    height: 120px;
    padding: 1px 1px 1px 10px;
    object-fit: contain;
    border-radius: 1px;
    overflow-y:auto;
    border: solid 1px #808080;
}
.standby-list-wrap .agreement textarea{
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
    width: 100%;
    border:1px solid #808080;
}
.standby-list-wrap .agreement textarea:focus{
    outline: none;
}
.standby-list-wrap .agreement체크박스{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.standby-list-wrap .standby-notice li{
    list-style: none;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
}
.standby-list-wrap .standby-joinus-btn {
    cursor: pointer;
    width: 100%;
    height: 40px;
    object-fit: contain;
    border-radius: 1px;
    background-color: #191919;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.standby-list-wrap .product .product-info {
    max-height: 80px;
}

.standby-list-wrap .product .product-info .color-title {
    margin-top: 13px;
    margin-bottom: 2px;
}
@media (min-width: 1026px) and (max-width:1440px) {
    .standby-list-wrap .info .info__box {
        width: 95%;
    }
}
@media (max-width: 1025px) {
    .standby-list-wrap .info-wrap{
        width: 100%;
    }
    .standby-list-wrap .standby-list-wrap {
        height: 100%;
    }

    .standby-list-wrap .product-wrap {
        width: 100%;
        min-height: 100%;
        order: 2;
    }
    .standby-list-wrap .info {
        width: 100%;
    }
    .standby-list-wrap .info-1 {
        order: 1;
    }
    .standby-list-wrap .info-2 {
        margin: 50px 0;
        order: 3;
    }
    .standby-list-wrap .info .info__box {
        width: 90%;
    }
    .standby-list-wrap .standby-joinus-btn{
        width: 100%;
    }
    /* 상품 정보 */
    /* .standby-list-wrap .product .product-info{
        height: 45px;
    }
    .standby-list-wrap .product .product-info .info-row .size__box{
        display: none;
    } */
  
    .standby-list-wrap .product .product-info .info-row .price[data-soldout="STSO"]::before {
        display: block;
        position: absolute;
        text-decoration: none;
        content: "Sold out" !important;
        font-size: 1rem;
        right: 0;
        font-weight: normal;
        color: #343434;
        left: auto;
        top: -12px;
    }

    .standby-list-wrap .product .product-info {
        padding: 5px 10px;
        height: 45px;
    }
    .standby-list-wrap .product .product-info .info-row .name{
        overflow: hidden;
    }
    .standby-list-wrap .product .product-info .info-row .color__box {
        flex-grow: 1;
        justify-content: flex-end;
        padding-bottom: 8px;
    }

    .standby-list-wrap .product .product-info .info-row .size__box {
        display: none;
    }

    .standby-list-wrap .product .product-info .color-title {
        position: absolute;
        bottom: 3px;
    }


    .standby-list-wrap .product .product-info .info-row .price {
        position: relative;
        top: -4px;
        line-height: 2.3;
    }

    .standby-list-wrap .product .product-info .info-row .price[data-dis="true"] {
        top: 8px;
    }

    .standby-list-wrap .product .product-info .info-row .price[data-dis="true"]::before {
        line-height: 2.3;
    }

    .standby-list-wrap .product .product-info .info-row .price[data-dis="true"]::after {
        top: -12px;
    }

    .standby-list-wrap .product .product-info>.info-row:nth-of-type(3) {
        height: 15px;
    }

}

.control-group {
    padding: 1em 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
.control-group div {
    padding: 0.2em;
}
.control-group label {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 5px;
}


.cb-radio {
    width: 12px;
    height:12px;
    vertical-align: middle;
    border: 1px solid #000000;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    background-clip: content-box;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.cb-radio:checked {
    background-color: #000000
}

.cb-radio {
    border-radius: 0.2em;
}

#standby_web_product{
    display: flex;
    margin-bottom: 200px;
}
#standby_mobile_product{
    display: none;
}
@media (max-width: 1025px) {
    #standby_web_product{
        display: none;
    }
    #standby_mobile_product{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        border-top: 1px solid #dcdcdc;
    }
}