main{ padding-top: 45px; }
header { border:1px solid #dcdcdc; }
ul,li{ list-style: none; }
.product { width: auto; }
/* 왼쪽 사이드바 */
.detail__sidebar__wrap{ visibility:hidden; top: 0; left: 0; bottom: 0; right: 0; z-index: 10; position: fixed; }
.detail__sidebar__wrap.open{ visibility:visible; }
.detail__sidebar__wrap .sidebar__background{ background: rgba(0, 0, 0, 0); transition-duration: 1s }
.detail__sidebar__wrap .sidebar__background.open{ display: grid; grid-template-columns: var(--w-g); background: rgba(0, 0, 0, 0); transition-duration: 1s }
.detail__sidebar__wrap .sidebar__wrap{ background-color: #ffffff; gap: 10px; transform: translateX(100%); position: relative; left: -15px; grid-column: 10/17; height: 100vh; overflow-y: auto; }
.detail__sidebar__wrap .sidebar__wrap.open{ transform: translateX(0%); transition-duration: 0.7s; }
.detail__sidebar__wrap .detail--box--btn { position: absolute; width: 45px; height: 100vh; border-right: 1px solid #dcdcdc; }
.detail__sidebar__wrap .top { background-color: #ffffff; height: 695px; }
.detail__sidebar__wrap .middle { background-color: #ffffff57; height: 180px; }
.detail__sidebar__wrap .bottom { background-color: #ffffff; }



.sidebar__header { display: flex; justify-content: flex-end; padding: 50px 80px 0 10px }
.sidebar__close__btn{ position: absolute; top: 60px; padding: 10px; transform: rotate(0deg); transition: transform 0.5s; }
.sidebar__close__btn:hover{ transform: rotate(90deg); transition: transform 0.5s; }
.sidebar__body{ padding: 50px 0 40px 10px; margin-left: 40px; }

.content__btn__wrap{ display: flex; gap :15px; }
.content__btn__wrap .tap__btn { border: 1px solid #808080; padding: 5px 15px; font-family: var(--ft-no-fu); font-size: 1.1rem; font-weight: 300; font-stretch: normal; font-style: normal; color: var(--bk); }
.content__btn__wrap .tap__btn .select { border-bottom: 1px solid #808080; }
/* 왼쪽 사이드바 */

.detail__wrapper{ display: grid; grid-template-columns: repeat(16,1fr); font-family: var(--ft-no-fu); font-size: 11px; text-align: left; color: var(--bk); }
.detail__box{ grid-column: 1/9; display: grid; grid-template-columns: repeat(8,1fr); position: relative; max-height: 100%; height: 100%; }
.detail__wrapper .navigation__wrap{ grid-column: 1/2; display: flex; gap: 10px; flex-direction: column; margin-right: 20px; margin-left: 10px; position: sticky; top: 50px; display: flex; height: 100vh; }

/*썸네일 슬라이드*/
.navigation__wrap .thumb__swiper { height: 100%; }
.navigation__wrap .swiper-slide{ height: 100px; }
.navigation__wrap .thumb__img{ height: 100%; background-repeat: no-repeat; background-position: center; background-size: contain; }
.detail__wrapper .navigation__wrap .thumb__box{ font-size: 10px; gap: 5px; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.navigation__wrap .thumb__box img{ min-width: 54px; min-height: 67.5px; width: 100%; max-width: 80px; max-height: 100px; }
.main_img_wrapper { display: grid; }
.detail__img__wrap{ grid-column: 2/9; }

.main__swiper img { display: block; width: 100%; max-width: 100%; height: 100%; object-fit: cover; object-position: 50% 50%; cursor: zoom-in; }
.info__wrap{ grid-column: 10/13; display: flex; justify-content: space-between; align-items: center; flex-direction: column; height: 100vh; top: 0; flex: 1; margin-top: -50px; position: sticky; }
.info__wrap.open::after{ content: ""; background: #ffffff; width: 41px; position: absolute; top: 0; height: 100vh;}
.info__box{display: flex;flex-direction: column;justify-content: center;flex: 1;width: 100%;}
.info__wrap .product__title {font-family: var(--ft-no-fu);font-size: 13px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.77;letter-spacing: 0.33px;text-align: left;color: var(--bk);}
.info__wrap .product__price { font-family: var(--ft-no-fu); font-size: 12px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.33; letter-spacing: 0.3px; color: var(--bk); padding-top: 13px; padding-bottom: 60px; }

/* 가격 */
.info__box .product__price{ position: relative; }
.info__box .product__price[data-dis="true"]{ position: relative; color: #34343494; }
.info__box .product__price[data-dis="true"] .sp{ position: relative; margin-right: 14px; color: #343434; }
.info__box .product__price[data-dis="true"] .cp{ text-decoration: line-through #000000; color: #34343494; font-size: 10px; }
.info__box .product__price[data-dis="true"] .di{ font-size: 10px; color: #343434; }
.info__box .product__price[data-soldout="STSO"]::after { text-decoration: none; content: "Sold out"!important; font-family: FuturaLTPro; font-size: 1.1rem; font-weight: normal; color: #343434; }
.info__box .product__price[data-soldout="STSO"] .cp{ text-decoration: line-through #343434; color: #34343494; font-size: 13px; }
.info__box .product__price[data-soldout="STSO"] .sp,
.info__box .product__price[data-soldout="STSO"] .di{ display: none; }
/* 가격 */



.info__wrap .product__color { display: none; font-family: var(--ft-no-fu); font-size: 11px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.36; letter-spacing: 0.28px; text-align: left; color: var(--bk); }
.detail__wrapper .info__wrap .color__box{ display: flex; gap: 3.5rem; flex-wrap: wrap; margin-bottom: 60px; font-family: var(--ft-no-fu); font-size: 11px; text-align: left; color: var(--bk); height: 15px; align-items: center; }
.detail__wrapper .info__wrap .color-line:hover .color{ border: 1px solid #878787; border-radius: 50%; padding: 6px; cursor: pointer; }
.detail__wrapper .info__wrap .color-line .color::before{ content: attr(data-title); opacity:0; position: absolute; top: -21px!important; left: -1px!important; width: 100px; transition:all 0.7s; }
.detail__wrapper .info__wrap .color-line:hover .color::before{ opacity:1; }
.detail__wrapper .info__wrap .color-line.select .color::before{ content: attr(data-title); opacity: 1; position: absolute; top: -20px; left: 0px; width:100px; }

.detail__wrapper .info__wrap .color__box .color { position: relative; width: 14px; height: 14px; }
.detail__wrapper .info__wrap .color__box .color::after{ content: ''; display: block; top: 50%; left: 50%; transform: translate(-50%, -50%); position: absolute; height: 0.8rem; width: 0.8rem; border-radius: 50%; background-color: var(--background-color); }
.detail__wrapper .info__wrap .color__box .color.multi::after{ background: var(--background); }
.info__wrap .product__size { display: grid; grid-template-columns: 1fr 2fr; padding-bottom: 60px; }
.info__wrap .product__size li { list-style: none; font-family: var(--ft-no-fu); font-size: 11px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.36; letter-spacing: normal; text-align: center; color: var(--bk); }
.product__size .size__title {font-family: var(--ft-no-fu);font-size: 11px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: 0.28px;text-align: left;color: var(--bk);}
.product__size .size__box { display: flex; gap: 30px; justify-content: flex-start; }


.product__size .size__box .size { cursor: pointer; }
.size__box li[data-soldout="STSO"]::after { top: -2px; }
.size__box .size[data-soldout="STSC"].select { border-bottom: 0px; }
.size__box li[data-soldout="STCL"]::before { content: "Only a few left"; position: absolute; width: 200px; bottom: -15px; left: -90px; color: red; transform: scaleX(0); transform-origin: left; transition: transform 450ms ease-in-out; }
.size__box li[data-soldout="STCL"]:hover::before { transform: scaleX(1); }
.size__box .size.select[data-soldout="STSC"]{ border-bottom: 1px solid #000000; }
.size__box li[data-soldout="STSC"]:hover .sold-line{ content: url('/images/svg/sold-line.svg'); position: absolute; top: -2px; }
.size__box li[data-soldout="STSC"]:hover::before { content: "Re-order"; position: absolute; width: 50px; bottom: -15px; left: -5px; }
.size__box li[data-soldout="STSC"]:hover { color: #808080; opacity: 1; display: flex; align-items: center; justify-content: center; }
.size__box li[data-soldout="STCL"]::after { display: none; }
.size__box li::after { content: ''!important; position: inherit!important; bottom: auto!important; right: auto!important; display: block!important; border-bottom: solid 1px #343434; transform: scaleX(0); transform-origin: left; transition: transform 250ms ease-in-out; }
.size__box li:hover::after { transform: scaleX(1); }
.size__box li[data-soldout="STCL"] .red-dot { /* 품절임박 */ content: url('/images/svg/wish-redsold.svg'); position: absolute; top: -2px; right: -4px; }
.size__box .size.select { border-bottom: 1px solid #343434; margin-bottom: -1px; }
.size__box .size.select:hover:after{ transform: scaleX(0); } 
.size__box .size.select:after{ border-bottom: 0px; }
.info__wrap .product__size__guide { display: flex; gap:10px; align-items: center; margin-bottom: 50px; font-family: var(--ft-no-fu); font-size: 11px; text-align: left; color: var(--bk); }

.detail__info__wrap{ display: flex; width: 100%; justify-content: space-between; gap: 15px; visibility: visible; }
.detail__info__wrap.open{ visibility: hidden; }
.detail__info__wrap div { border: solid 1px #dcdcdc; padding: 5px  10px; font-family: var(--ft-no-fu); font-size: 1.1rem; text-align: left; color: var(--bk); }
.detail__wrapper .info__wrap .color__chip li { list-style: none; width: 0.8rem; height: 0.8rem; border-radius: 50%; }

.basket__wrap--btn{padding-bottom: 45px;position: relative;}
.basket__wrap--btn.nav { display: none; }
.basket__box--btn{display: grid;grid-template-columns: 2fr 1fr;border: solid 1px #808080;align-items: center;border-radius: 2px;height: 36px;}
.basket__box--btn .basket-btn img{ width:9px; height:14px; }
.basket__box--btn .basket-btn[data-status="1"]:hover { background-color: #0c0c0c; color: var(--wh)!important; } 
.basket__box--btn .basket-btn[data-status="1"]:hover img { content: url("/images/svg/reflesh-wh.svg"); background-color: #0c0c0c; color: var(--wh)!important; } 
.basket__box--btn[data-status="0"]{ background-color:#f1f1f1; border:1px solid #dcdcdc; } 
.basket__box--btn[data-status="0"] .basket-btn{ border-right:1px solid #dcdcdc; } 
.basket__box--btn[data-status="0"] .basket-btn:hover{ background-color:#f1f1f1; color: #343434!important; }






.basket__box--btn .basket-title { font-family: var(--ft-no-fu); font-size: 11px; font-weight: 300; font-stretch: normal; font-style: normal; line-height: 1.45; letter-spacing: normal; text-align: left; }
.basket__box--btn .basket-btn{ cursor: pointer; display: flex; gap: 8px; justify-content: center; height: 100%; align-items: center; border-right: 1px solid #808080; color: var(--bk); }
.basket__box--btn .whish-btn { display: flex; align-items: center; justify-content: center; height: 100%; gap: 5px; }
.basket__box--btn .whish-btn .whish_img { width: 14.4px; height: 12px; }
.basket__box--btn .basket-btn img { width: 15px; height: 14px; }
.detail__btn__wrap .detail__btn__row{ display: flex; align-items: center; gap: 15px; cursor: pointer; }
.detail__btn__wrap { display: grid; }
.detail__btn__wrap .btn-title{ font-family: var(--ft-no-fu); font-size: 11px; font-weight: 300; font-stretch: normal; font-style: normal; line-height: 1.45; letter-spacing: normal; text-align: left; color: var(--bk); flex-shrink: 0; }
.detail__btn__row .img-box { z-index: 11; width: 45px; height: 45px; display: flex; align-items: center; justify-content: center; flex-shrink:0; }



.style__wrapper .product { width: 100%; border-right: solid 1px #dcdcdc; }
.style__wrapper .product .product-info { border-top: solid 1px #dcdcdc; }
.style__wrapper .product .product-info{ height: 80px; padding: 15px 10px; }
.style__wrapper .product .product-info .info-row .price[data-soldout="STSO"]{ top:0; }
.style__wrapper .product .product-info{ font-size:1.1rem; }
.style__wrapper .product .product-info .info-row .name{ font-size:1.2rem; position: relative; white-space: inherit; text-overflow: inherit; word-break: break-all; width: 70%; }
.style__wrapper:last-of-type { border-bottom: 0px }
.style__wrapper{ display: grid; grid-template-columns: repeat(16, 1fr); border-top: solid 1px #dcdcdc; }
.style__wrapper .left__title { grid-column: 1/2; padding: 20px 0 0 10px; border-left: 1px solid #dcdcdc; border-right: 1px solid #dcdcdc; }
.style__wrapper .left__title span{ font-size: 10px; text-decoration: underline; letter-spacing: 0.33px; text-align: left; color: var(--bk); }
.foryou-wrap { grid-column: 2/17; }
.style-wrap { grid-column: 2/17; }
.viewport__wrap--img { max-width: 100%; max-height: 100%; left: 0; right: 0; top: 0; bottom: 0; margin: auto; overflow: auto; position: fixed; z-index: 100; }
.viewport__wrap--img .viewport-img{ width: 100%; background-color: #f8f8f8; overflow: hidden; cursor:url('http://116.124.128.246:80/images/svg/img-close-btn.svg'), auto; }
.viewport__closebtn{ display: none; position: absolute; top: 10%; left: 80%; cursor: pointer; transform: scaleX(1.65); }
/* 디테일박스 */
/* web */
.detail-content { transition: all 0.3s; padding: 0 120px; background-color: #ffffff; }

.detail-content .content-header { padding-bottom: 14px; }
.detail-content .content-header span { font-size: 11px; font-weight: 300; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: normal; text-align: left; color: #343434; padding-bottom: 4px; border-bottom: 1px solid #343434; }
.detail-content .content-body { display: flex; flex-direction: column; width: 100%; }

.detail-content .sizeguide-box { display: flex; gap: 10px; padding-bottom: 15px; }

.detail-content .sizeguide-btn { padding: 7px 15px 6px; border-radius: 2px; border: solid 1px #dcdcdc; }


.detail-content .sizeguide-noti { padding-bottom: 30px; }

.detail-content .sizeguide-img { background-image: url(/images/svg/guide-top.svg); width: 280px; height: 300px; background-size: cover; background-position: center; margin-bottom: 70px; }

.detail-content .sizeguide-dct { display: flex; flex-direction: column; gap: 20px; border-top: #dcdcdc 1px solid; padding-top: 20px; }

.detail-content .dct-row { display: flex; gap: 10px; justify-content: space-between; align-items: center; }
.dct-row > span:nth-of-type(1){ min-width: 65px; }
.dct-row > span:nth-of-type(3){ flex-grow: 1; text-align: right; }
.detail-content .sizeguide-btn.select { border-radius: 2px; background-color: #dcdcdc; }
/*-------------------------------------------------------*/


.detail__content__box { overflow: hidden; background-color: #ffffff; }
.detail__content__box .content-header { padding-bottom: 14px; }
.detail__content__box .content-body { display: flex; flex-direction: column; width: 100%; }
.detail__content__box .sizeguide-box { display: flex; gap: 5px; padding-bottom: 15px; }
.detail__content__box .sizeguide-btn { padding: 3px 15px; border-radius: 2px; border: solid 1px #dcdcdc; vertical-align: middle; box-sizing: border-box; height: 24px; }
.detail__content__box .sizeguide-noti { padding-bottom: 30px; }
.detail__content__box .sizeguide-img { background-image: url(/images/svg/guide-top.svg); width: 280px; height: 300px; background-size: cover; background-position: center; margin-bottom: 70px; }
.detail__content__box .sizeguide-dct { display: flex; flex-direction: column; gap: 20px; border-top: #dcdcdc 1px solid; padding-top: 20px; }
.detail__content__box .dct-row { display: flex; gap: 10px; justify-content: space-between; align-items: center; }
.detail__content__box .dct-row { display: flex; gap: 10px; justify-content: space-between; align-items: center; }
.detail__content__box .sizeguide-btn.select { border-radius: 2px; background-color: #dcdcdc; }
/* select */
.detail__btn__row.select{ align-items: flex-start; }
.detail__btn__row.select .btn-title{ display: none; }
.detail__btn__row.select .detail__content__box { max-height: 100%; }
.detail__btn__row.select .img-box { transition: all 0.7s; background-color: #000000;}
.detail__btn__wrap.web.open .detail__btn__row .img-box{ border: 1px solid #dcdcdc; box-sizing: border-box; border-bottom: 0; }
.detail__btn__wrap.web.open:last-of-type .detail__btn__row .img-box{ border-bottom: 1px solid #dcdcdc; }
.detail__btn__row.select .img-box img{ filter: var(--filter-wh); }
.detail-content.material .content-list{ display: flex; gap: 25px; margin-bottom: 25px; }
.detail-content.material .content-list-title{ /* display: list-item; */ width: 30px; list-style: disc; margin-left: 10px; }
.detail-content.material .content-list-title::before { content: url('/images/svg/pd-dot.svg'); position: relative; left: -9px; top: -2px; }
.detail-content.material .content-list > ul { display: flex; flex-direction: column; gap: 10px; }
.detail-content.productinfo .content-list ul { display: flex; flex-direction: column; gap: 10px; }
.detail-content.productinfo .content-list li { margin-left: 10px; }
.detail-content.productinfo .content-list li::before { content: url('/images/svg/pd-dot.svg'); position: relative; left: -9px; top: -2px; }
.detail-content.precaution .content-list ul { display: flex; flex-direction: column; gap: 10px; }
.detail-content.precaution .content-list li { list-style: decimal; margin-left: 12px; }
.main__swiper .swiper-pagination2{ display: none; }
.detail__wrapper .swiper-pagination{ display: none; }
.detail__wrapper .detail__btn__wrap{ display: block; position: relative; left: -15px; }
.rM-detail-containner{ display: none; }
.styling-with-wrap{ padding-top: 0!important; }

.main__swiper .swiper-pagination-detail-fraction{ display: none; }
.main__swiper .swiper-pagination-detail-bullets{ display: none; }

.basket-btn.basket[data-status="2"] { background-color: #000000!important; color: #ffffff!important; }
.basket-btn.basket[data-status="2"] img { content: url('/images/svg/basket-wh.svg'); }
.basket-btn.reorder[data-status="1"] { background-color: #000000!important; color: #ffffff!important; }
.basket-btn.reorder[data-status="1"] img { content: url('/images/svg/reflesh-wh.svg'); }
/* 장바구니버튼 초기화  */
.basket-btn[data-status="4"]{ pointer-events: none; }


.info__wrap[data-soldflg='1'] .size{ pointer-events: none; }
.detail__refund__msg{ margin-top: 40px; font-family: var(--ft-no-fu); font-size: 11px; font-weight: 300; font-stretch: normal; font-style: normal; letter-spacing: normal; text-align: left; color: #808080; }
.detail__refund__msg ul{ display: flex; flex-direction: column; gap: 15px; }
.detail__refund__msg li{ list-style: decimal; margin-left: 10px; }

.detail__refund__box{ display: none; width: 100%; height: 254px; background-color: #ffffff; border: solid 1px #808080; position: absolute; top: -200px; }
.detail__refund__box.open{ display: flex; flex-direction: column; justify-content: space-between; }
.detail__refund__box .close-box{ display: flex; justify-content: flex-end; }
.detail__refund__box .close-btn{ cursor: pointer; margin: 10px; border: solid 5px #ffffff; text-align: right; right: 10%; }
.detail__refund__box .close-btn svg { width: 15px; height: 15px; background-color: #ffffff; transition:transform 0.5s; }
.detail__refund__box .close-btn svg:hover { transform: rotate(90deg); transition:transform 0.5s; }
.detail__refund__box .refund__msg{ font-family: var(--ft-no-fu); margin-left: 20px; font-size: 11px; font-weight: 300; font-stretch: normal; font-style: normal; letter-spacing: normal; text-align: left; color: #343434; }
.refund-basket-btn{ cursor: pointer; display: flex; gap: 8px; justify-content: center; align-items: center; margin: 0px 0px 14px 10px; border: 1px solid #dcdcdc; width: 70%; height: 34px; border-radius: 1px; border: solid 1px #808080; background-color: #fff; }
.refund-basket-btn img{ width: 9px; height: 14.9px; }
.refund-basket-btn span{ font-family: var(--ft-no-fu); font-size: 11px; font-weight: 300; font-stretch: normal; font-style: normal; letter-spacing: normal; text-align: left; color: #343434; }
@media(hover:hover){
    .whish-btn .whish_img:hover{ content: url('/images/svg/wishlist-bk.svg'); }
}
@media (max-width: 1025px){
    header { border:1px solid #dcdcdc; }
    .size__box li[data-soldout="STCL"]:hover::before{ left: -30px; bottom: -20px; }
	#main__swiper-detail .swiper-pagination-bullet{ width: 25px; height: 1px; transform: scale(1)!important; }
    #main__swiper-detail .swiper-pagination-bullet-active{ width: 25px; height: 1px; margin: 0 3px; background: #343434; opacity: 1!important; transform: scale(1)!important; }
    #main__swiper-detail .swiper-pagination-bullet-active-prev,
    #main__swiper-detail .swiper-pagination-bullet-active-next{ width: 25px; height: 1px; margin: 0 3px; opacity: 0.5!important; background: #343434; transform: scale(1)!important; }
    #main__swiper-detail .swiper-pagination-bullet-active-prev-prev,
    #main__swiper-detail .swiper-pagination-bullet-active-next-next{ width: 25px; height: 1px; margin: 0 3px; opacity: 0.1!important; background: #343434; transform: scale(1)!important; }
    .viewport__wrap--img .viewport-img{ height: 100vh; width: 100vw; object-fit: cover; display: block; cursor: pointer; -webkit-user-select: none; -ms-user-select: none; user-select: none; cursor: auto; }
    .viewport__closebtn{ display: block; }
    .detail__wrapper { display: flex; flex-direction: column; }
    .detail__box { display: inline; position: relative; }
    .basket__wrap--btn.nav { display: block; padding-bottom: 0px; position: sticky; width: 100%; z-index: 10; bottom: 0; margin-bottom: 40px; background-color: #ffffff; }
    .basket__wrap--btn.nav .basket__box--btn { margin-top:0px }
    /* 썸네일 */
    .detail__wrapper .navigation__wrap{ grid-column: 1/2; position: absolute; z-index: 2; bottom: 0; right: 0; margin: 10px; display: flex; flex-direction: column; gap: 5px; top: auto; height: auto; padding-bottom: 45px; }
    .detail__img__wrap{ height: 100%; }
    /* 메인이미지 */
    .main__swiper img { height: auto; }
    .main__swiper { position: relative; width: 100%; }
    .main__swiper .swiper-pagination-detail-fraction{ display: block; position: absolute; bottom: 55px; left: 20px; z-index: 9; }
    .detail__wrapper .swiper-pagination-detail-bullets{ width:160px!important; display:inline; margin-bottom: 12px; }
    #main__swiper-detail .swiper-pagination-fraction { left: 10px; width: fit-content; text-align: left; }
    .main_img_wrapper { display: flex; margin-bottom: 45px; }
    .mobile-bullet { position: relative; display: flex; height: 50px; }
    .mobile-bullet .pagination_bullet{ left: 50%; top: 50%; transform: translate(-50%,-50%); }
    /* 상품정보 */
    .info__wrap{ margin-top: 0; }
    .info__box{ padding: 0 45px; position: static; left: auto; top: auto; transform: none; }
    .info__wrap .product__title{ font-family: FuturaLTPro; font-size: 13px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.77; letter-spacing: 0.33px; text-align: left; color: #343434; }
    .info__wrap .product__price { font-family: FuturaLTPro; font-size: 12px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.33; letter-spacing: 0.3px; text-align: left; padding-bottom: 50px; color: #343434; }
    .info__wrap .product__color{ display: none; font-family: FuturaLTPro; font-size: 11px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.36; letter-spacing: 0.28px; text-align: left; color: #343434; }
    .detail__wrapper .info__wrap .color__box{ margin-bottom: 45px; }
    .info__wrap .product__size { display: flex; gap: 20px; padding-bottom: 30px; flex-direction: column; font-family: FuturaLTPro; font-size: 11px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.36; letter-spacing: 0.28px; text-align: left; color: #343434; }
    .info__wrap .product__size li{ font-family: FuturaLTPro; font-size: 11px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.36; letter-spacing: 0.28px; text-align: left; color: var(--bk); }

    .detail__btn__row .img-box { justify-content: center; width: 45px; height: 45px; flex-shrink: 0; }
    .detail__btn__row .img-box.select { background-color: #000000; }
    .detail__btn__row .img-box.select img{ filter: var(--filter-wh); }
    .detail__btn__wrap .detail__btn__row{ gap: 10px; }
    .detail__btn__wrap .detail__btn__row.select{ align-items: flex-start; }

    .basket__wrap--btn { display: none; grid-column: 1/9; order: 4; padding-bottom: 75px; }
    .basket__box--btn { grid-template-columns: repeat(8,1fr); margin-top: 60px; }
    .basket__box--btn .basket-btn{ grid-column: 1/7; }
    .basket__box--btn .basket-btn:hover { background-color:#ffffff!important; color: var(--bk)!important; }
    .basket__box--btn .whish-btn{ grid-column: 7/9; }

    .style__wrapper { margin-top: 115px; border: 0; grid-template-columns: repeat(8, 1fr); }
    .style__wrapper .left__title{ grid-column: 1/9; margin: 0px 0 20px 10px; border-left: 0px; }
    .style__wrapper:last-of-type { border-bottom:0px; }
    .style-wrap{ grid-column: 1/9; border-top: solid 1px #dcdcdc; border-bottom: solid 1px #dcdcdc; margin-bottom: 70px; }

    .thumb__box span { display: none; }
    .thumb__box { border: solid 1px #f8f8f8; }
    .detail__wrapper .navigation__wrap .thumb__box{ min-width: auto; min-height: auto; }
    .navigation__wrap .thumb__box img{ max-width: 45px; max-height: 56.2px; }

    .style__wrapper .product .product-info { padding: 5px 10px; height: 45px; }
    .style__wrapper .product .product-info > .info-row:nth-of-type(1){ padding-bottom: 8px; }
    .style__wrapper .product .product-info .info-row .name { font-family: FuturaLTPro; font-size: 10px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.3; letter-spacing: normal; color: #343434; white-space: nowrap; text-overflow: ellipsis; width: 60%; }
    .style__wrapper .product .product-info .info-row .price{ font-family: FuturaLTPro; font-size: 9px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.44; letter-spacing: normal; color: #343434; }
    .style__wrapper .product .color-title{ font-family: FuturaLTPro; font-size: 10px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.4; letter-spacing: 0.25px; text-align: left; color: #343434; position: absolute; }
    .style__wrapper .left__title span{ text-decoration: none; }
    .style__wrapper .product .product-info .info-row .color__box{ display: none; }
    .style__wrapper .product .product-info > .info-row:nth-of-type(3){ justify-content: flex-end; }

    .detail-content { padding: 0; padding-right: 45px; }
    .detail__content__box .content-header span { font-size: 11px; font-weight: 300; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: normal; text-align: left; color: #343434; padding-bottom: 4px; border-bottom: 1px solid #343434; }
    .detail__wrapper .detail__btn__wrap{ display: none; }

    .rM-detail-containner{ display: block; }	
    .rM-detail-containner .detail__btn__wrap{ -webkit-tap-highlight-color: transparent !important; position: relative; left: -15px; margin-bottom: 75px; padding: 0 45px; }
    .rM-detail-containner .detail__btn__row .img-box { justify-content: center; width: 45px; height: 45px; flex-shrink: 0; z-index: 0; }
    .rM-detail-containner .detail__btn__row .img-box.select { background-color: #000000; }
    .rM-detail-containner .detail__btn__row .img-box.select img{ filter: var(--filter-wh); }
    .rM-detail-containner .detail__btn__wrap .detail__btn__row{ gap: 10px; }
    .rM-detail-containner .detail__btn__control{ position: absolute; bottom: 0; right: 0; padding: 16px; display: flex; flex-direction: column; display: none; }
    .rM-detail-containner .detail__btn__control img{ width: 7px; height: 11px; }
    .rM-detail-containner .detail-btn-prev{ height: 45px; width: 45px; display: flex; align-items: center; justify-content: center; transform: rotate(90deg); }
    .rM-detail-containner .detail-btn-next{ width: 45px; height: 45px; display: flex; align-items: center; justify-content: center; transform: rotate(270deg); }
    .rM-detail-containner .detail__btn__wrap .detail__btn__row.select{ align-items: flex-start; }
    .rM-detail-containner .detail__btn__wrap.open{ transition: 0.7s all; display: flex; border-top: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 0; left: 0; }
    .rM-detail-containner .detail__btn__wrap.open .btn-title{ display: none; }
    .rM-detail-containner .detail__btn__wrap.open .detail__content__box{ max-height: 100%; width: 100%; position: relative; padding: 10px; border-left: 1px solid #dcdcdc; transition: none; padding-bottom: 65px; }
    .rM-detail-containner .detail__btn__wrap.open .detail__btn__control{ display: flex; }
    
    .info__box .detail__refund__msg{ display: none; }
    .detail__refund__msg{ margin-top: 50px; font-size: 10px; font-weight: 300; font-stretch: normal; font-style: normal; letter-spacing: normal; text-align: left; color: #808080; }
    .detail__refund__msg ul{ display: flex; flex-direction: column; gap: 10px; }
    .detail__refund__msg li{ list-style: decimal; margin-left: 28px; }
}







@keyframes moveRight { 0% { width: 0px; } 100%{ width: 100%; } }