/* web */
    .product__list__wrap .prd__meun {
        grid-template-columns: repeat(16, 1fr);
        display: grid;
        height: 105px;
        align-items: center;
    }

    .product__list__wrap .prd__meun .prd__meun__grid {
        display: flex;
        grid-column: 2/10;
        justify-content: space-around;
        border: none;
    }

    .product__list__wrap .prd__meun .prd__meun__swiper {
        display: flex;
        width: 100%;
        overflow: hidden;
    }

    .prd__meun__grid .prd__meun__box .prd__title {
        opacity: 0.5;
        font-family: var(--ft-no-fu);
        font-size: 10px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.3;
        letter-spacing: normal;
        text-align: center;
        color: var(--bk);
    }

    .prd__meun__grid .prd__meun__sort span {
        font-family: var(--ft-no);
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.42;
        color: #343434;
    }
    .prd__meun__grid .swiper-button-prev {
        position: relative;
        left: -50px;
        top: 67px;
        color: #000;
        height: 30px;
        width: 10px;
    }

    .prd__meun__grid .swiper-button-prev::after {
        content: url('/images/svg/sort-bottom.svg');
        transform: rotate(90deg);
    }

    .prd__meun__grid .swiper-button-next::after {
        content: url('/images/svg/sort-bottom.svg');
        transform: rotate(270deg);
    }

    .prd__meun__grid .swiper-button-next {
        position: relative;
        left: 30px;
        color: #000;
    }

    .prd__meun__grid .swiper-slide:first-child .prd__meun__box .prd__img__wrap {
        border: 1px solid #dcdcdc;
    }

    .prd__meun__grid .swiper-slide .prd__meun__box {
        padding: 0 10px;
    }
    .prd__img__wrap .prd__img{
        margin: 0 auto;
    }


    .product__list__wrap .prd__meun .prd__meun__sort {
        display: flex;
        grid-column: 13/17;
        justify-content: space-around;
        align-items: end;
    }

    .product__list__wrap .prd__meun li {
        list-style: none;
        align-items: center;
        gap: 10px;
        flex-grow: 1;
    }
    .addProductBtn {
        border: 1px solid #dcdcdc;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--ft-no);
        font-size: 13px;
        letter-spacing: normal;
        color: #000;
        padding: 90px;
        margin-bottom: 200px;
    }

    .prd__meun__grid .swiper-slide .prd__meun__box .prd__img__wrap {
        width: auto;
    }

/* ----------------------------------------------------------------------------------------------- sort 버튼  --------------------*/
    .sort-box.web{
        display: flex;
    }
    .sort-box.mobile{
        display: none;
    }
    .sort-btn {
        cursor: pointer;
        display: flex;
    }
    .sort__grid {
        display: flex;
        gap: 10px;
    }
    .sort-title {
        display: none;
        font-family: var(--ft-no-fu);
        font-size: 1.3rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.46;
        letter-spacing: 0.33px;
        text-align: left;
        color:var(--bk);
    }
    /* ----------------------------------------------------------------------------------------------- 상품 리스트 --------------------*/
    .product__list__body {
        display: grid;
        grid-template-columns: repeat(16,1fr);
    }
    .product-wrap {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        grid-column: 1 / 17;
    }
    .product-wrap[data-grid='1']  {
    }
    .product-wrap[data-grid='2']  {
        grid-column: 2 / 16;
    }
    .product-wrap[data-grid='3']  {
    }
    .product-wrap[data-grid='4']  {
        grid-column: 1 / 17;
    }
    .product-wrap[data-grid='1'] .product {
        width: 100%;
    }
    .product-wrap[data-grid='2'] .product {
        width: 50%;
        
    }
    .product-wrap[data-grid='3'] .product {
        width: 33.33333%;
        
    }
    .product-wrap[data-grid='4'] .product {
        width: 25%;   
    }



    .product {
        width: 25%;
    }
    .product .whish_img {
        width: 16px;
        height: 14px;
    }
    .product-img{
        background-color:#F8F8F8;
    }
    .add-btn{
        font-family: var(--ft-no);
        font-size: 13px;
        font-weight: 400;
        line-height: 1.46;
        text-align: center;
        color:var(--bk)
    }

    @media (max-width:1025px) {
       

        .product__list__wrap .prd__meun {
            display: flex;
            flex-direction: column;
            height: 145px;
            align-items: inherit;
        }

        .product__list__wrap .prd__meun .prd__meun__grid {
            display: flex;
            grid-column: 2/10;
            width: 100%;
            justify-content: space-around;
            padding-bottom: 6px;
            border-bottom: 1px solid #eeeeee;
            margin-bottom: 10px;
        }

        .product__list__wrap .prd__meun .prd__meun__swiper {
            display: flex;
            width: 100%;
            overflow: hidden;
        }

       

        .prd__meun__grid .prd__meun__sort span {
            font-family: var(--ft-no);
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.42;
            color: #343434;
        }
        .prd__meun__grid .swiper-button-prev {
            position: relative;
            left: -50px;
            top: 67px;
            color: #000;
            height: 30px;
            width: 10px;
        }

        .prd__meun__grid .swiper-button-prev::after {
            content: url('/images/svg/sort-bottom.svg');
            transform: rotate(90deg);
        }

        .prd__meun__grid .swiper-button-next::after {
            content: url('/images/svg/sort-bottom.svg');
            transform: rotate(270deg);
        }

        .prd__meun__grid .swiper-button-next {
            position: relative;
            left: 30px;
            color: #000;
        }

        .prd__meun__grid .swiper-slide:first-child .prd__meun__box .prd__img__wraps {
            border: 1px solid #dcdcdc;
        }

        .prd__meun__grid .swiper-slide .prd__meun__box {
            padding: 0 10px;
        }



        .product__list__wrap .prd__meun .prd__meun__sort {
            display: flex;
            grid-column: 13/17;
            justify-content: space-around;
            align-items: center;
        }

        .product__list__wrap .prd__meun li {
            list-style: none;
            align-items: center;
            gap: 10px;
            flex-grow: 0;
        }

        [data-sold="true"]::after {
            content: url('/images/svg/sold-line.svg');
            position: relative;
            right: 13px;
            top: 4px;
        }

        .addProductBtn {
            border: 1px solid #dcdcdc;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: var(--ft-no);
            font-size: 1.3rem;
            letter-spacing: normal;
            color: #000;
            background-color: #fbfbfb;
            padding: 40px;
            margin-bottom: 150px;
        }

        .prd__meun__grid .swiper-slide:first-child .prd__meun__box .prd__img__wrap {
            border: 1px solid #dcdcdc;
        }

        .prd__meun__grid .prd__meun__box.select .prd__title {
            opacity: 1;
        }
        /* ----------------------------------------------------------------------------------------------- sort 버튼  --------------------*/
            .sort-box.web{
                display: none;
            }
            .sort-box.mobile{
                display: flex;   
            }
            .sort-title {
                display: block;
            }
        /* ----------------------------------------------------------------------------------------------- 상품 리스트   --------------------*/
        .product__list__body {
            display: grid;
            grid-template-columns: repeat(8,1fr);
        }
        .product-wrap {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            grid-column: 1 / 9;
        }
        .product-wrap[data-grid='1']  {
            grid-column: 1 / 9;
        }
        .product-wrap[data-grid='2']  {
            grid-column: 1 / 9;
        }
        .product-wrap[data-grid='3']  {
            grid-column: 1 / 9;
        }
        /* .product-wrap[data-grid='4']  {
            grid-column: 1 / 9;
        } */
        .product-wrap[data-grid='1'] .product {
            width: 100%;
        }
        .product-wrap[data-grid='2'] .product {
            width: 50%;
            
        }
        .product-wrap[data-grid='3'] .product {
            width: 33.33333%;
            
        }
        /* .product-wrap[data-grid='4'] .product {
            width: 25%;   
        } */

    }