.product__list__wrap .prd__meun__swiper .prd__meun__box .prd__img{
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.product__list__wrap .prd__meun__swiper .prd__meun__box .prd__title{
    text-align: center;
}
.product__list__wrap .prd__meun__swiper .prd__meun__box {
    width: 100px;
}
.product__list__wrap .prd__meun {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}
.product__list__wrap .prd__meun .prd__meun__grid {
    display: flex;
    grid-column: 2/10;
    justify-content: space-around;
}
.product__list__wrap .prd__meun .prd__meun__swiper {
    display: flex;
    width: 100%;
    overflow: hidden;
}
.prd__meun__grid .prd__meun__box .prd__title{
    font-family: Noto Sans KR;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    color: #343434;
}
.prd__meun__grid .prd__meun__sort span{
    font-family: Noto Sans KR;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    color: #343434;
}
.sort__grid {
    display: flex;
    gap: 10px;
}
.sort__grid[data-grid='2'] img{
    width: 21px!important;
}
.sort__grid[data-grid='4'] img{
    width: 41px!important;
}

.prd__meun__grid .swiper-button-prev{
    position: relative;
    left: -50px;
    top: 67px;
    color: #000;
    height: 30px;
    width: 10px;
}
.prd__meun__grid .swiper-button-prev::after{
    content: url('/images/svg/sort-bottom.svg');
    transform: rotate(90deg);
}
.prd__meun__grid .swiper-button-next::after{
    content: url('/images/svg/sort-bottom.svg');
    transform: rotate(270deg);
}
.prd__meun__grid .swiper-button-next{
    position: relative;
    left: 30px;
    color: #000;
}
.prd__meun__grid .swiper-slide:first-child .prd__meun__box {
    border: 1px solid #dcdcdc;
}
.prd__meun__grid .swiper-slide .prd__meun__box {
    padding: 0 10px;
}



.product__list__wrap .prd__meun .prd__meun__sort {
    display: flex;
    grid-column: 13/17;
    justify-content: space-around;
    align-items: end;
}
.product__list__wrap .prd__meun li {
    list-style: none;
    align-items: center;
    gap: 10px;
}
.product__list__wrap .prd__meun li  img{
    width: 20px;
}

.product__list__box{
    grid-template-columns: repeat(8, 1fr);
    display: grid;
}
.product__list__box[data-grid="3"] .prd__list{
    grid-column: span 3;
}
.product__list__box[data-grid="2"] .prd__list{
    grid-column : span 4;
}
.product__list__box[data-grid="1"] .prd__list{
    grid-column : span 8;
}


.product__list__box .prd__list{
    font-size: 13px;
    font-family: FuturaLTPro;
    color: #343434;
    border-right-width: 0px;
    border-left-width: 1px;
    position: relative;

}
.product__list__box .prd__list:first-child{
    border-left-width: 0px;
}
.product__list__box .prd__img{
    width: 100%;
    height: 300px;
    background-color: #fbfbfb;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.product__list__box.grid-cols-2 .prd__list .prd__img{
    background-size: contain;
}
.product__list__box .color__chip {
    display: flex;
    gap: 8px;
    align-items: center;
}

.product__list__box .color__chip li {
    list-style-type: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

[data-sold="true"]::after{
    content:url('/images/svg/sold-line.svg');
    position: relative;
    right: 13px;
    top: 4px;
}
/* web */
@media (min-width: 1024px){
    .product__list__wrap .prd__meun__swiper .prd__meun__box .prd__img{
        height: 100px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .product__list__wrap .prd__meun__swiper .prd__meun__box .prd__title{
        text-align: center;
    }
    .product__list__wrap .prd__meun__swiper .prd__meun__box {
        width: 100px;
    }
    .product__list__wrap .prd__meun {
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        padding-bottom: 15px;
    }
    .product__list__wrap .prd__meun .prd__meun__grid {
        display: flex;
        grid-column: 2/10;
        justify-content: space-around;
    }
    .product__list__wrap .prd__meun .prd__meun__swiper {
        display: flex;
        width: 100%;
        overflow: hidden;
    }
    .prd__meun__grid .prd__meun__box .prd__title{
        font-family: Noto Sans KR;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.42;
        color: #343434;
    }
    .prd__meun__grid .prd__meun__sort span{
        font-family: Noto Sans KR;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.42;
        color: #343434;
    }
    .rW.sort__grid[data-grid='2'] img{
        width: 21px!important;
    }
    .rW.sort__grid[data-grid='4'] img{
        width: 40px!important;
    }
   
    .prd__meun__grid .swiper-button-prev{
        position: relative;
        left: -50px;
        top: 67px;
        color: #000;
        height: 30px;
        width: 10px;
    }
    .prd__meun__grid .swiper-button-prev::after{
        content: url('/images/svg/sort-bottom.svg');
        transform: rotate(90deg);
    }
    .prd__meun__grid .swiper-button-next::after{
        content: url('/images/svg/sort-bottom.svg');
        transform: rotate(270deg);
    }
    .prd__meun__grid .swiper-button-next{
        position: relative;
        left: 30px;
        color: #000;
    }
    .prd__meun__grid .swiper-slide:first-child .prd__meun__box {
        border: 1px solid #dcdcdc;
    }
    .prd__meun__grid .swiper-slide .prd__meun__box {
        padding: 0 10px;
    }



    .product__list__wrap .prd__meun .prd__meun__sort {
        display: flex;
        grid-column: 13/17;
        justify-content: space-around;
        align-items: end;
    }
    .product__list__wrap .prd__meun li {
        list-style: none;
        align-items: center;
        gap: 10px;
    }
    .product__list__wrap .prd__meun li  img{
        width: 20px;
    }
    .product__list__box{
        grid-template-columns: repeat(16, 1fr);
        display: grid;
    }
    .product__list__box .prd__list{
        border-right-width: 0px;
        border-left-width: 1px;
        position: relative;
    }
    .product__list__box[data-grid="4"] .prd__list{
        grid-column: span 4;
    }
    .product__list__box[data-grid="2"] .prd__list:nth-child(odd){
        grid-column: 2 / span 7;
    }
    .product__list__box[data-grid="2"] .prd__list:nth-child(even){
        grid-column : span 7;
    }
    .product__list__box .prd__list:first-child{
        border-left-width: 0px;
    }
    .product__list__box .prd__img{
        width: 100%;
        height: 600px;
        background-color: #fbfbfb;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .product__list__box.grid-cols-2 .prd__list .prd__img{
        background-size: contain;
    }
    .product__list__box .color__chip {
        display: flex;
        gap: 8px;
        align-items: center;
    }
    
    .product__list__box .color__chip li {
        list-style-type: none;
        width: 8px;
        height: 8px;
    }
}