/* web */
@media (min-width: 1024px){

    .product__list__wrap .prd__meun {
        display: flex;
        justify-content: space-between;
    }
    .product__list__wrap .prd__meun li {
        list-style: none;
    }
    .product__list__box .prd__list{
        border-right-width: 0px;
        border-left-width: 1px;
        position: relative;
    }
    .product__list__box .prd__list:first-child{
        border-left-width: 0px;
    }
    .product__list__box .prd__img{
        width: 100%;
        height: 600px;
        background-color: #fbfbfb;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .product__list__box .color__chip {
        display: flex;
        gap: 8px;
        align-items: center;
    }
    
    .product__list__box .color__chip li {
        list-style-type: none;
        width: 8px;
        height: 8px;
    }
  
}